# WiSenseOutdoorData, Cleaning of Data, Finding Error % in each node

# 1. Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 2. Reading WiSenseData

In [2]:
dff = pd.read_csv('WiSenseOutdoorData.csv' , header = None)  #reading the Outdoor dataset

In [3]:
#There are 14 columns
dff.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

# 3. Renaming the Columns

In [4]:
df = dff.rename(columns={0: 'timeStamp', 1: 'nodeAddress' , 2: 'packteID', 3: 'nodeRSSI', 4: 'nodeVolt', 5: 'temperature1', 6: 'temperature2', 7: 'temperature3', 8: 'pressure', 9: 'luminosity' , 10: 'rainfall', 11: 'solarPanelVolt', 12: 'solarPanelBattVolt', 13: 'solarPanelCurr'})

In [5]:
# Getting some info about Dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13107 entries, 0 to 13106
Data columns (total 14 columns):
timeStamp             13107 non-null object
nodeAddress           13107 non-null object
packteID              13107 non-null int64
nodeRSSI              13107 non-null int64
nodeVolt              13107 non-null float64
temperature1          13107 non-null float64
temperature2          0 non-null float64
temperature3          13107 non-null float64
pressure              13107 non-null int64
luminosity            13107 non-null int64
rainfall              13107 non-null int64
solarPanelVolt        13107 non-null float64
solarPanelBattVolt    13107 non-null float64
solarPanelCurr        13107 non-null float64
dtypes: float64(7), int64(5), object(2)
memory usage: 1.4+ MB

In [6]:
#Copying the original dataset ('df') into data1
data1 = df.copy()

In [7]:
#Describing different features of DataSet
data1.describe()

,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
count,13107.000000,13107.000000,13107.000000,13107.000000,0.0,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000
mean,4944.839246,-75.089265,3.356035,27.251118,NaN,29.100995,881.666361,14730.566644,2763.637293,3.101344,3.941621,-8.208438
std,4082.036564,23.564888,0.028765,3.768661,NaN,28.889033,98.311192,23881.808964,7763.948991,3.700875,0.216309,58.909454
min,1.000000,-105.000000,2.880000,22.500000,NaN,10.910000,220.000000,0.000000,0.000000,0.010000,2.850000,-109.800000
25%,1606.000000,-92.000000,3.350000,25.370000,NaN,21.590000,895.000000,0.000000,0.000000,0.060000,3.760000,-30.600000
50%,4089.000000,-89.000000,3.360000,26.500000,NaN,25.250000,896.000000,6.000000,0.000000,0.610000,4.010000,-30.100000
75%,7691.500000,-69.000000,3.370000,28.000000,NaN,29.020000,897.000000,19358.000000,0.000000,8.590000,4.120000,1.000000
max,16631.000000,-24.000000,3.400000,43.370000,NaN,220.000000,901.000000,65535.000000,105233.000000,8.740000,4.200000,572.200000

In [8]:
#Getting total number of Unique Nodes from the DataSet
data1.groupby('nodeAddress').count()

,timeStamp,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
nodeAddress,,,,,,,,,,,,,
fc:c2:3d:00:00:00:89:e8,1758,1758,1758,1758,1758,0,1758,1758,1758,1758,1758,1758,1758
fc:c2:3d:00:00:01:10:8e,7394,7394,7394,7394,7394,0,7394,7394,7394,7394,7394,7394,7394
fc:c2:3d:00:00:01:2f:2d,1038,1038,1038,1038,1038,0,1038,1038,1038,1038,1038,1038,1038
fc:c2:3d:00:00:01:33:2a,2917,2917,2917,2917,2917,0,2917,2917,2917,2917,2917,2917,2917

In [9]:
#Converting datatype of 'timeStamp' to datetime type
data1['timeStamp'] = pd.to_datetime(data1['timeStamp'])

In [10]:
#Now we can se the data type of 'timeStamp', it is now datetime type
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13107 entries, 0 to 13106
Data columns (total 14 columns):
timeStamp             13107 non-null datetime64[ns]
nodeAddress           13107 non-null object
packteID              13107 non-null int64
nodeRSSI              13107 non-null int64
nodeVolt              13107 non-null float64
temperature1          13107 non-null float64
temperature2          0 non-null float64
temperature3          13107 non-null float64
pressure              13107 non-null int64
luminosity            13107 non-null int64
rainfall              13107 non-null int64
solarPanelVolt        13107 non-null float64
solarPanelBattVolt    13107 non-null float64
solarPanelCurr        13107 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(1)
memory usage: 1.4+ MB

# To Demonstrate how we can get time interval between two rows

In [195]:
# This is how we can get the timeStamp of any row by Indexing
data1.timeStamp[0]

Timestamp('2019-05-08 22:12:19')

In [196]:
#Getting timeinterval b/w first two rows
interval = (data1.timeStamp[1] - data1.timeStamp[0])

In [197]:
#Converting this timeinterval into minutes
minutes = interval.total_seconds() / 60

In [198]:
minutes

2.316666666666667

In [199]:
type(minutes)

float

# Functions to Clean the DataSet

In [85]:
'''
nodes = data1['nodeAddress'].unique()
def Temperature3_clean(df):
    for n in nodes:
        k = 0
        for i in range(k , df.shape[0]-1):
          if(df.loc[i, 'nodeAddress'] == n):
            val0 = float(df.loc[i,'temperature3'])
            time0 = df.loc[i,'timeStamp' ]
            for j in range(i+1, df.shape[0]-1):
              if(df.loc[j, 'nodeAddress'] == n):
                val1 = float(df.loc[j , 'temperature3'])
                time1 = df.loc[j , 'timeStamp']
                timedelta = time1 - time0
                minutes = timedelta.total_seconds() / 60
                
                if (abs(val1 - val0) > 10 and minutes < 30.0):
                  df.loc[j,'temperature3'] = val0
                  k = j
                  break
                elif(abs(val1 - val0) > 10 and minutes > 30.0):
                  df.loc[j,'temperature3'] = 'NaN'
                  k = j
                  break
                else:
                  k = j
                  break '''

In [11]:
# Now We will create two new columns in our Dataset namely, 'temp3_changed' and 'pressure_changed'
# These column will contain value '1' if temperature3 or pressure is changed else it will contain 0
data1['temp3_changed'] = 0
data1['pressure_changed'] = 0

In [12]:
# Grouping the DataSet by 'temp3_changed'
data1.groupby('temp3_changed').count()

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,pressure_changed
temp3_changed,,,,,,,,,,,,,,,
0,13107,13107,13107,13107,13107,13107,0,13107,13107,13107,13107,13107,13107,13107,13107

In [13]:
#Checking Outliers
'''
# Following Scripts will deal with first value of each node if it is outlier

1. We'll just check if first value of each node for a particular column is outlier (i.e temperature > 100 or temperature < 0), if it is outlier then we'll change its value to next row value

'''


from tqdm import tqdm_notebook

nodes = data1['nodeAddress'].unique() # this line will create an array having total unique nodes

print('Checking Outlier for temperature3')
for n in tqdm_notebook(nodes , desc = 'Processing records for Outlier'):
    for i in range(data1.shape[0] - 1):
        if(data1.loc[i , 'nodeAddress'] == n):
            val0 = float(data1.loc[i,'temperature3'])
            if(val0 < 0 or val0 > 100):
                data1.loc[i,'temperature3'] = data1.loc[i+1,'temperature3']
                print('Outlier Found at', i , 'for node' , n)
                break
            else:
                break
                
                
                
print('Checking Outlier for pressure')
for n in tqdm_notebook(nodes , desc = 'Processing records for Outlier'):
    for i in range(data1.shape[0] - 1):
        if(data1.loc[i , 'nodeAddress'] == n):
            val0 = float(data1.loc[i,'pressure'])
            if(val0 < 750 or val0 > 1000):
                data1.loc[i,'pressure'] = data1.loc[i+1,'pressure']
                print('Outlier Found at',i, 'for node' , n)
                break
            else:
                break

Checking Outlier for temperature3

HBox(children=(IntProgress(value=0, description='Processing records for Outlier', max=4, style=ProgressStyle(d…

Checking Outlier for pressure

HBox(children=(IntProgress(value=0, description='Processing records for Outlier', max=4, style=ProgressStyle(d…

# Following is the function to clean 'temperature3' and 'pressure'

# Logic behind cleaning the data

Example: Cleaning temperature1

To clean 'temperature1', we'll iterate through this column and select two values(rows) of a particular node and compare it.
1. If there absolute difference is more than 10C and timeinterval is less than 30 minutes then we'll replace later value with previous one.
2. If later value(row) is showing an Outlier and time interval is more than 30 minutes then will just replace it with 'NaN'.

Same logic is Implemented for 'temperature3' and pressure.

In [33]:
nodes = data1['nodeAddress'].unique() # this line will create an array having total unique nodes

#Function to clean 'temperature3'

def Temperature3_clean(df):
    for n in nodes:
        k = 0
        for i in range(k , df.shape[0]-1):
          if(df.loc[i, 'nodeAddress'] == n):
            val0 = float(df.loc[i,'temperature3'])
            time0 = (df.loc[i,'timeStamp' ])
            for j in range(i+1, df.shape[0]-1):
              if(df.loc[j, 'nodeAddress'] == n):
                val1 = float(df.loc[j , 'temperature3'])
                time1 = (df.loc[j , 'timeStamp'])
                timedelta = time1 - time0
                minutes = timedelta.total_seconds() / 60
                
                if (abs(val1 - val0) > 10 and minutes < 30.0):
                  df.loc[j,'temperature3'] = val0
                  df.loc[j, 'temp3_changed'] = 1
                  k = j
                  break
                elif(((val1) > 100 or (val1) < 0 ) and minutes > 30.0):
                  df.loc[j,'temperature3'] = 'NaN'
                  k = j
                  break
                else:
                  k = j
                  break
                    
                    
                    
# Function to clean 'pressure'

def pressure_clean(df):
    for n in nodes:
        k = 0
        for i in range(k , df.shape[0]-1):
          if(df.loc[i, 'nodeAddress'] == n):
            val0 = float(df.loc[i,'pressure'])
            time0 = (df.loc[i,'timeStamp' ])
            for j in range(i+1, df.shape[0]-1):
              if(df.loc[j, 'nodeAddress'] == n):
                val1 = float(df.loc[j , 'pressure'])
                time1 = (df.loc[j , 'timeStamp'])
                timedelta = time1 - time0
                minutes = timedelta.total_seconds() / 60
                
                if (abs(val1 - val0) > 10 and minutes < 30.0):
                  df.loc[j,'pressure'] = val0
                  df.loc[j, 'pressure_changed'] = 1
                  k = j
                  break
                elif(((val1) > 1000 or (val1) < 750 ) and minutes > 30.0):
                  df.loc[j,'pressure'] = 'NaN'
                  k = j
                  break
                else:
                  k = j
                  break

In [34]:
#Call Above functions to clean the dataset
Temperature3_clean(data1)
pressure_clean(data1)

In [35]:
data1.describe() #Cleaned Data

,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,temp3_changed,pressure_changed
count,13107.000000,13107.000000,13107.000000,13107.000000,0.0,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000
mean,4944.839246,-75.089265,3.356035,27.251118,NaN,25.334563,896.251392,14730.566644,2763.637293,3.101344,3.941621,-8.208438,0.044556,0.021592
std,4082.036564,23.564888,0.028765,3.768661,NaN,5.426630,1.723764,23881.808964,7763.948991,3.700875,0.216309,58.909454,0.206335,0.145351
min,1.000000,-105.000000,2.880000,22.500000,NaN,10.910000,892.000000,0.000000,0.000000,0.010000,2.850000,-109.800000,0.000000,0.000000
25%,1606.000000,-92.000000,3.350000,25.370000,NaN,22.060000,895.000000,0.000000,0.000000,0.060000,3.760000,-30.600000,0.000000,0.000000
50%,4089.000000,-89.000000,3.360000,26.500000,NaN,25.400000,896.000000,6.000000,0.000000,0.610000,4.010000,-30.100000,0.000000,0.000000
75%,7691.500000,-69.000000,3.370000,28.000000,NaN,28.970000,897.000000,19358.000000,0.000000,8.590000,4.120000,1.000000,0.000000,0.000000
max,16631.000000,-24.000000,3.400000,43.370000,NaN,38.340000,901.000000,65535.000000,105233.000000,8.740000,4.200000,572.200000,1.000000,1.000000

In [36]:
df.describe() #Raw Data

,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
count,13107.000000,13107.000000,13107.000000,13107.000000,0.0,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000,13107.000000
mean,4944.839246,-75.089265,3.356035,27.251118,NaN,29.100995,881.666361,14730.566644,2763.637293,3.101344,3.941621,-8.208438
std,4082.036564,23.564888,0.028765,3.768661,NaN,28.889033,98.311192,23881.808964,7763.948991,3.700875,0.216309,58.909454
min,1.000000,-105.000000,2.880000,22.500000,NaN,10.910000,220.000000,0.000000,0.000000,0.010000,2.850000,-109.800000
25%,1606.000000,-92.000000,3.350000,25.370000,NaN,21.590000,895.000000,0.000000,0.000000,0.060000,3.760000,-30.600000
50%,4089.000000,-89.000000,3.360000,26.500000,NaN,25.250000,896.000000,6.000000,0.000000,0.610000,4.010000,-30.100000
75%,7691.500000,-69.000000,3.370000,28.000000,NaN,29.020000,897.000000,19358.000000,0.000000,8.590000,4.120000,1.000000
max,16631.000000,-24.000000,3.400000,43.370000,NaN,220.000000,901.000000,65535.000000,105233.000000,8.740000,4.200000,572.200000

# From here we'll see how we can convert all outliers to "NaN" and we'll observe what is the error percentage in each node

In [185]:
# Just Trying to Convert Wrong (Outliers) Values to NaN

nodes = data1['nodeAddress'].unique()
def Temperature3_clean(df):
    for n in nodes:
        for i in range(df.shape[0]-1):
            val0 = float(df.loc[i,'temperature3'])
            if (val0 > 100 or val0 < -1):
                df.loc[i,'temperature3'] = 'NaN'

Temperature3_clean(data1)

In [187]:
#Getting indexes where temp3 contains NaN value
kaish = np.where(data1.temperature3  == 'NaN')

In [188]:
#Converting kaish into numpy array
kaish = np.array(kaish)

In [191]:
#Getting how many outliers
print(kaish.shape)

(1, 283)

In [189]:
data1[900:950]

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
900,2019-05-09 09:14:03,fc:c2:3d:00:00:01:10:8e,2196,-90,3.36,25.37,NaN,28.76,896,56430,0,8.60,4.07,234.6
901,2019-05-09 09:14:22,fc:c2:3d:00:00:01:2f:2d,2197,-68,3.38,33.00,NaN,35.31,895,65535,0,8.71,3.72,2.0
902,2019-05-09 09:14:52,fc:c2:3d:00:00:00:89:e8,2199,-68,3.31,26.75,NaN,27.90,894,18198,0,8.60,4.02,144.0
903,2019-05-09 09:15:04,fc:c2:3d:00:00:01:10:8e,2200,-90,3.35,25.37,NaN,28.91,896,56205,0,8.60,4.07,237.2
904,2019-05-09 09:16:05,fc:c2:3d:00:00:01:10:8e,2202,-90,3.36,25.37,NaN,29.07,896,56810,0,8.60,4.08,238.8
905,2019-05-09 09:17:07,fc:c2:3d:00:00:01:10:8e,2204,-90,3.36,25.37,NaN,29.24,896,58749,0,8.60,4.08,241.6
906,2019-05-09 09:18:07,fc:c2:3d:00:00:01:10:8e,2206,-90,3.36,25.37,NaN,29.36,896,61067,0,8.60,4.08,245.0
907,2019-05-09 09:19:08,fc:c2:3d:00:00:01:10:8e,2208,-89,3.36,25.37,NaN,29.47,896,62746,0,8.60,4.08,247.5
908,2019-05-09 09:19:23,fc:c2:3d:00:00:01:2f:2d,2209,-68,3.38,33.00,NaN,220.00,220,65535,0,8.70,3.72,2.0
909,2019-05-09 09:19:53,fc:c2:3d:00:00:00:89:e8,2211,-68,3.31,26.75,NaN,28.53,894,19567,0,8.59,4.02,148.9
910,2019-05-09 09:20:09,fc:c2:3d:00:00:01:10:8e,2212,-89,3.36,25.37,NaN,29.57,896,64040,0,8.60,4.08,249.9
911,2019-05-09 09:21:10,fc:c2:3d:00:00:01:10:8e,2214,-90,3.35,25.37,NaN,29.60,896,65341,0,8.60,4.09,251.9
912,2019-05-09 09:22:11,fc:c2:3d:00:00:01:10:8e,2216,-89,3.35,25.37,NaN,29.57,896,65535,0,8.60,4.08,253.8
913,2019-05-09 09:23:12,fc:c2:3d:00:00:01:10:8e,2218,-90,3.35,25.37,NaN,29.55,896,65535,0,8.60,4.09,256.6
914,2019-05-09 09:24:13,fc:c2:3d:00:00:01:10:8e,2220,-88,3.35,25.37,NaN,29.52,896,65535,0,8.60,4.09,259.2
915,2019-05-09 09:24:24,fc:c2:3d:00:00:01:2f:2d,2221,-68,3.38,33.00,NaN,220.00,220,65535,0,8.71,4.20,5.5
916,2019-05-09 09:24:54,fc:c2:3d:00:00:00:89:e8,2223,-68,3.31,26.75,NaN,28.84,894,22100,0,8.60,4.03,156.5
917,2019-05-09 09:25:14,fc:c2:3d:00:00:01:10:8e,2224,-90,3.36,25.37,NaN,29.56,896,65535,0,8.60,4.10,260.2
918,2019-05-09 09:26:15,fc:c2:3d:00:00:01:10:8e,2226,-89,3.36,25.37,NaN,29.57,896,65535,0,8.60,4.10,262.9
919,2019-05-09 09:27:16,fc:c2:3d:00:00:01:10:8e,2228,-89,3.37,25.37,NaN,29.55,895,65535,0,8.60,4.10,264.7
920,2019-05-09 09:28:17,fc:c2:3d:00:00:01:10:8e,2231,-89,3.37,25.37,NaN,29.61,896,65535,0,8.60,4.10,266.2
921,2019-05-09 09:29:18,fc:c2:3d:00:00:01:10:8e,2233,-89,3.36,25.37,NaN,29.72,895,65535,0,8.60,4.10,269.8
922,2019-05-09 09:29:26,fc:c2:3d:00:00:01:2f:2d,2234,-68,3.38,33.00,NaN,220.00,220,65535,0,8.70,4.20,5.8
923,2019-05-09 09:29:55,fc:c2:3d:00:00:00:89:e8,2236,-69,3.31,26.75,NaN,29.19,894,30657,0,8.60,4.03,139.6
924,2019-05-09 09:30:19,fc:c2:3d:00:00:01:10:8e,2237,-89,3.36,25.37,NaN,29.91,895,65535,0,8.60,4.10,271.0
925,2019-05-09 09:31:20,fc:c2:3d:00:00:01:10:8e,2239,-90,3.35,25.37,NaN,30.08,896,65535,0,8.60,4.11,272.9
926,2019-05-09 09:32:21,fc:c2:3d:00:00:01:10:8e,2241,-90,3.36,25.37,NaN,30.26,895,65535,0,8.60,4.11,276.3
927,2019-05-09 09:33:22,fc:c2:3d:00:00:01:10:8e,2243,-89,3.36,25.37,NaN,30.20,895,65535,0,8.60,4.11,277.4
928,2019-05-09 09:34:23,fc:c2:3d:00:00:01:10:8e,2245,-90,3.37,25.37,NaN,30.40,895,65535,0,8.66,4.12,463.5
929,2019-05-09 09:34:26,fc:c2:3d:00:00:01:2f:2d,2246,-68,3.38,33.00,NaN,220.00,220,65535,0,8.71,4.20,5.5
930,2019-05-09 09:34:57,fc:c2:3d:00:00:00:89:e8,2247,-68,3.31,26.75,NaN,29.79,894,46653,0,8.59,4.04,146.7
931,2019-05-09 09:35:24,fc:c2:3d:00:00:01:10:8e,2249,-90,3.36,25.37,NaN,30.45,895,65535,0,8.51,4.12,226.3
932,2019-05-09 09:36:25,fc:c2:3d:00:00:01:10:8e,2251,-88,3.36,25.37,NaN,30.57,895,65535,0,8.55,4.12,301.8
933,2019-05-09 09:37:26,fc:c2:3d:00:00:01:10:8e,2253,-90,3.36,25.37,NaN,30.73,895,65535,0,8.51,4.12,241.4
934,2019-05-09 09:38:27,fc:c2:3d:00:00:01:10:8e,2255,-90,3.36,25.37,NaN,30.51,895,65535,0,8.56,4.12,246.4
935,2019-05-09 09:39:27,fc:c2:3d:00:00:01:2f:2d,2257,-68,3.38,33.00,NaN,220.00,220,65535,0,8.71,4.20,5.7
936,2019-05-09 09:39:28,fc:c2:3d:00:00:01:10:8e,2258,-91,3.36,25.37,NaN,30.60,895,65535,0,8.66,4.15,233.9
937,2019-05-09 09:39:58,fc:c2:3d:00:00:00:89:e8,2259,-68,3.31,26.75,NaN,30.19,894,61058,0,8.60,4.04,152.6
938,2019-05-09 09:40:29,fc:c2:3d:00:00:01:10:8e,2261,-90,3.36,25.37,NaN,30.86,895,65535,0,8.52,4.13,238.9
939,2019-05-09 09:41:30,fc:c2:3d:00:00:01:10:8e,2263,-91,3.36,25.37,NaN,30.54,895,65535,0,8.69,4.14,225.3
940,2019-05-09 09:42:31,fc:c2:3d:00:00:01:10:8e,2265,-92,3.37,25.37,NaN,30.59,895,65535,0,8.54,4.13,243.1
941,2019-05-09 09:43:32,fc:c2:3d:00:00:01:10:8e,2266,-91,3.36,25.37,NaN,30.39,895,65535,0,8.51,4.14,245.5
942,2019-05-09 09:44:28,fc:c2:3d:00:00:01:2f:2d,2268,-67,3.38,33.00,NaN,220.00,220,65535,0,8.71,4.20,5.9
943,2019-05-09 09:44:33,fc:c2:3d:00:00:01:10:8e,2269,-91,3.36,25.37,NaN,30.47,895,65535,0,8.55,4.17,250.1
944,2019-05-09 09:44:58,fc:c2:3d:00:00:00:89:e8,2270,-68,3.31,26.75,NaN,30.95,894,65535,0,8.60,4.05,158.1
945,2019-05-09 09:45:34,fc:c2:3d:00:00:01:10:8e,2272,-92,3.36,25.37,NaN,30.49,895,65535,0,8.50,4.14,250.1
946,2019-05-09 09:46:35,fc:c2:3d:00:00:01:10:8e,2274,-91,3.36,25.37,NaN,30.31,895,65535,0,8.60,4.18,355.2
947,2019-05-09 09:47:36,fc:c2:3d:00:00:01:10:8e,2276,-91,3.36,25.37,NaN,30.58,895,65535,0,8.53,4.15,343.3
948,2019-05-09 09:48:37,fc:c2:3d:00:00:01:10:8e,2278,-92,3.36,25.37,NaN,30.57,895,65535,0,8.64,4.16,239.4
949,2019-05-09 09:49:29,fc:c2:3d:00:00:01:2f:2d,2280,-69,3.38,33.00,NaN,220.00,220,65535,0,8.71,3.72,1.9

In [117]:
data1[10225:10248]

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
10225,2019-05-15 02:33:04,fc:c2:3d:00:00:00:89:e8,3503,-85,3.31,26.75,NaN,24.77,897,0,0,0.03,3.95,-30.7
10226,2019-05-15 02:38:07,fc:c2:3d:00:00:00:89:e8,3514,-85,3.31,26.75,NaN,24.77,897,0,0,0.02,3.94,-30.9
10227,2019-05-15 08:20:28,fc:c2:3d:00:00:01:10:8e,4159,-44,3.35,26.75,NaN,22.24,898,0,0,0.01,3.64,-30.2
10228,2019-05-15 08:21:28,fc:c2:3d:00:00:01:10:8e,4162,-95,3.36,25.37,NaN,22.42,900,40209,0,8.60,3.99,105.4
10229,2019-05-15 08:22:30,fc:c2:3d:00:00:01:10:8e,4165,-89,3.35,25.37,NaN,22.62,900,42234,0,8.60,3.99,125.4
10230,2019-05-15 08:23:31,fc:c2:3d:00:00:01:10:8e,4168,-94,3.35,25.37,NaN,22.78,900,40944,0,8.60,3.99,122.2
10231,2019-05-15 08:24:33,fc:c2:3d:00:00:01:10:8e,4171,-103,3.35,26.75,NaN,22.28,898,0,0,0.02,3.64,-30.5
10232,2019-05-15 08:25:34,fc:c2:3d:00:00:01:10:8e,4174,-95,3.36,25.37,NaN,23.08,900,34852,0,8.59,3.99,100.7
10233,2019-05-15 08:26:37,fc:c2:3d:00:00:01:10:8e,4177,-95,3.36,25.37,NaN,23.19,900,35038,0,8.60,4.00,108.9
10234,2019-05-15 08:27:51,fc:c2:3d:00:00:01:10:8e,4180,-94,3.36,25.37,NaN,23.41,900,36525,0,8.60,4.00,131.3
10235,2019-05-15 08:29:54,fc:c2:3d:00:00:01:10:8e,4186,-95,3.35,25.37,NaN,23.83,900,32646,0,8.59,4.00,112.6
10236,2019-05-15 08:30:38,fc:c2:3d:00:00:01:2f:2d,4189,-95,3.38,43.37,NaN,25.30,899,30678,0,8.58,3.86,111.0
10237,2019-05-15 08:30:49,fc:c2:3d:00:00:00:89:e8,4190,-81,3.31,26.75,NaN,19.29,899,16006,0,8.59,3.90,-6.5
10238,2019-05-15 08:30:54,fc:c2:3d:00:00:01:10:8e,4191,-94,3.35,25.37,NaN,24.01,900,30214,0,8.59,4.00,98.8
10239,2019-05-15 08:31:55,fc:c2:3d:00:00:01:10:8e,4194,-95,3.36,25.37,NaN,24.21,900,29614,0,8.59,4.00,94.7
10240,2019-05-15 08:32:57,fc:c2:3d:00:00:01:10:8e,4197,-94,3.35,25.37,NaN,24.36,900,27346,0,8.59,4.00,77.3
10241,2019-05-15 08:35:12,fc:c2:3d:00:00:01:10:8e,4203,-103,3.35,26.75,NaN,22.36,898,0,0,0.12,3.63,-30.3
10242,2019-05-15 08:35:39,fc:c2:3d:00:00:01:2f:2d,4206,-99,3.35,26.75,NaN,22.37,898,0,0,0.11,3.63,-29.4
10243,2019-05-15 08:35:50,fc:c2:3d:00:00:00:89:e8,4207,-105,3.38,43.37,NaN,25.71,899,35918,0,8.58,3.87,137.2
10244,2019-05-15 08:36:13,fc:c2:3d:00:00:01:10:8e,4208,-83,3.31,26.75,NaN,20.03,899,17409,0,8.58,3.90,78.5
10245,2019-05-15 08:37:15,fc:c2:3d:00:00:01:10:8e,4211,-102,3.35,26.75,NaN,22.37,898,0,0,0.11,3.63,-30.0
10246,2019-05-15 08:38:16,fc:c2:3d:00:00:01:10:8e,4214,-104,3.35,26.75,NaN,22.38,898,0,0,0.12,3.63,-29.8
10247,2019-05-15 08:39:18,fc:c2:3d:00:00:01:10:8e,4217,-102,3.35,26.75,NaN,22.39,898,0,0,0.12,3.63,-30.1

In [94]:
df[10225:10248]

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
10225,2019-05-15 02:33:04,fc:c2:3d:00:00:00:89:e8,3503,-85,3.31,26.75,NaN,13.15,897,0,0,0.03,3.95,-30.7
10226,2019-05-15 02:38:07,fc:c2:3d:00:00:00:89:e8,3514,-85,3.31,26.75,NaN,13.17,897,0,0,0.02,3.94,-30.9
10227,2019-05-15 08:20:28,fc:c2:3d:00:00:01:10:8e,4159,-44,3.35,26.75,NaN,22.24,898,0,0,0.01,3.64,-30.2
10228,2019-05-15 08:21:28,fc:c2:3d:00:00:01:10:8e,4162,-95,3.36,25.37,NaN,22.42,900,40209,0,8.60,3.99,105.4
10229,2019-05-15 08:22:30,fc:c2:3d:00:00:01:10:8e,4165,-89,3.35,25.37,NaN,22.62,900,42234,0,8.60,3.99,125.4
10230,2019-05-15 08:23:31,fc:c2:3d:00:00:01:10:8e,4168,-94,3.35,25.37,NaN,22.78,900,40944,0,8.60,3.99,122.2
10231,2019-05-15 08:24:33,fc:c2:3d:00:00:01:10:8e,4171,-103,3.35,26.75,NaN,22.28,898,0,0,0.02,3.64,-30.5
10232,2019-05-15 08:25:34,fc:c2:3d:00:00:01:10:8e,4174,-95,3.36,25.37,NaN,23.08,900,34852,0,8.59,3.99,100.7
10233,2019-05-15 08:26:37,fc:c2:3d:00:00:01:10:8e,4177,-95,3.36,25.37,NaN,23.19,900,35038,0,8.60,4.00,108.9
10234,2019-05-15 08:27:51,fc:c2:3d:00:00:01:10:8e,4180,-94,3.36,25.37,NaN,23.41,900,36525,0,8.60,4.00,131.3
10235,2019-05-15 08:29:54,fc:c2:3d:00:00:01:10:8e,4186,-95,3.35,25.37,NaN,23.83,900,32646,0,8.59,4.00,112.6
10236,2019-05-15 08:30:38,fc:c2:3d:00:00:01:2f:2d,4189,-95,3.38,43.37,NaN,25.30,899,30678,0,8.58,3.86,111.0
10237,2019-05-15 08:30:49,fc:c2:3d:00:00:00:89:e8,4190,-81,3.31,26.75,NaN,19.29,899,16006,0,8.59,3.90,-6.5
10238,2019-05-15 08:30:54,fc:c2:3d:00:00:01:10:8e,4191,-94,3.35,25.37,NaN,24.01,900,30214,0,8.59,4.00,98.8
10239,2019-05-15 08:31:55,fc:c2:3d:00:00:01:10:8e,4194,-95,3.36,25.37,NaN,24.21,900,29614,0,8.59,4.00,94.7
10240,2019-05-15 08:32:57,fc:c2:3d:00:00:01:10:8e,4197,-94,3.35,25.37,NaN,24.36,900,27346,0,8.59,4.00,77.3
10241,2019-05-15 08:35:12,fc:c2:3d:00:00:01:10:8e,4203,-103,3.35,26.75,NaN,22.36,898,0,0,0.12,3.63,-30.3
10242,2019-05-15 08:35:39,fc:c2:3d:00:00:01:2f:2d,4206,-99,3.35,26.75,NaN,22.37,898,0,0,0.11,3.63,-29.4
10243,2019-05-15 08:35:50,fc:c2:3d:00:00:00:89:e8,4207,-105,3.38,43.37,NaN,25.71,899,35918,0,8.58,3.87,137.2
10244,2019-05-15 08:36:13,fc:c2:3d:00:00:01:10:8e,4208,-83,3.31,26.75,NaN,20.03,899,17409,0,8.58,3.90,78.5
10245,2019-05-15 08:37:15,fc:c2:3d:00:00:01:10:8e,4211,-102,3.35,26.75,NaN,22.37,898,0,0,0.11,3.63,-30.0
10246,2019-05-15 08:38:16,fc:c2:3d:00:00:01:10:8e,4214,-104,3.35,26.75,NaN,22.38,898,0,0,0.12,3.63,-29.8
10247,2019-05-15 08:39:18,fc:c2:3d:00:00:01:10:8e,4217,-102,3.35,26.75,NaN,22.39,898,0,0,0.12,3.63,-30.1

In [40]:
df

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
0,2019-05-08 22:12:19,fc:c2:3d:00:00:00:89:e8,932,-67,3.31,26.75,NaN,19.09,896,0,0,0.02,4.08,-29.1
1,2019-05-08 22:14:38,fc:c2:3d:00:00:01:10:8e,934,-91,3.35,25.37,NaN,20.26,897,0,0,0.06,4.07,-30.4
2,2019-05-08 22:15:39,fc:c2:3d:00:00:01:10:8e,936,-91,3.35,25.37,NaN,20.23,897,0,0,0.06,4.07,-30.3
3,2019-05-08 22:16:22,fc:c2:3d:00:00:01:2f:2d,937,-68,3.38,33.00,NaN,15.65,897,0,0,0.03,3.58,-30.6
4,2019-05-08 22:16:40,fc:c2:3d:00:00:01:10:8e,939,-90,3.35,25.37,NaN,20.21,897,0,0,0.06,4.07,-30.3
5,2019-05-08 22:17:21,fc:c2:3d:00:00:00:89:e8,940,-68,3.31,26.75,NaN,18.98,896,0,0,0.02,4.07,-30.5
6,2019-05-08 22:17:41,fc:c2:3d:00:00:01:10:8e,942,-90,3.35,25.37,NaN,20.22,897,0,0,0.06,4.07,-29.6
7,2019-05-08 22:18:42,fc:c2:3d:00:00:01:10:8e,944,-91,3.35,25.37,NaN,20.19,897,0,0,0.06,4.07,-30.5
8,2019-05-08 22:19:43,fc:c2:3d:00:00:01:10:8e,946,-90,3.35,25.37,NaN,20.18,897,0,0,0.06,4.07,-30.2
9,2019-05-08 22:20:44,fc:c2:3d:00:00:01:10:8e,948,-92,3.35,25.37,NaN,20.19,897,0,0,0.06,4.07,-30.1
10,2019-05-08 22:21:23,fc:c2:3d:00:00:01:2f:2d,949,-68,3.38,33.00,NaN,15.49,897,0,0,0.02,3.58,-30.4
11,2019-05-08 22:21:45,fc:c2:3d:00:00:01:10:8e,951,-92,3.35,25.37,NaN,20.17,897,0,0,0.06,4.07,-30.7
12,2019-05-08 22:22:22,fc:c2:3d:00:00:00:89:e8,952,-68,3.31,26.75,NaN,18.82,896,0,0,0.02,4.08,-30.4
13,2019-05-08 22:22:46,fc:c2:3d:00:00:01:10:8e,954,-91,3.35,25.37,NaN,20.15,897,0,0,0.06,4.07,-30.4
14,2019-05-08 22:23:46,fc:c2:3d:00:00:01:10:8e,956,-91,3.35,25.37,NaN,20.16,897,0,0,0.06,4.07,-30.5
15,2019-05-08 22:24:47,fc:c2:3d:00:00:01:10:8e,958,-91,3.35,25.37,NaN,20.17,897,0,0,0.06,4.07,-30.4
16,2019-05-08 22:25:49,fc:c2:3d:00:00:01:10:8e,960,-90,3.35,25.37,NaN,20.15,897,0,0,0.06,4.07,-30.3
17,2019-05-08 22:26:23,fc:c2:3d:00:00:01:2f:2d,961,-68,3.39,33.00,NaN,15.50,897,0,0,0.03,3.58,-30.7
18,2019-05-08 22:26:50,fc:c2:3d:00:00:01:10:8e,963,-91,3.35,25.37,NaN,20.11,897,0,0,0.06,4.07,-30.6
19,2019-05-08 22:27:23,fc:c2:3d:00:00:00:89:e8,965,-68,3.31,26.75,NaN,18.69,896,0,0,0.03,4.07,-29.4
20,2019-05-08 22:27:51,fc:c2:3d:00:00:01:10:8e,967,-90,3.36,25.37,NaN,20.08,897,0,0,0.06,4.07,-30.0
21,2019-05-08 22:28:52,fc:c2:3d:00:00:01:10:8e,969,-90,3.35,25.37,NaN,20.05,897,0,0,0.06,4.07,-30.4
22,2019-05-08 22:29:53,fc:c2:3d:00:00:01:10:8e,971,-92,3.35,25.37,NaN,20.01,897,0,0,0.06,4.07,-30.2
23,2019-05-08 22:30:54,fc:c2:3d:00:00:01:10:8e,973,-91,3.36,25.37,NaN,19.95,897,0,0,0.06,4.07,-30.6
24,2019-05-08 22:31:25,fc:c2:3d:00:00:01:2f:2d,974,-68,3.38,33.00,NaN,15.50,897,0,0,0.03,3.58,-30.8
25,2019-05-08 22:31:54,fc:c2:3d:00:00:01:10:8e,976,-91,3.35,25.37,NaN,19.87,897,0,0,0.06,4.07,-30.2
26,2019-05-08 22:32:24,fc:c2:3d:00:00:00:89:e8,977,-67,3.31,26.75,NaN,18.56,896,0,0,0.02,4.07,-29.7
27,2019-05-08 22:32:55,fc:c2:3d:00:00:01:10:8e,979,-90,3.36,25.37,NaN,19.81,897,0,0,0.06,4.07,-30.5
28,2019-05-08 22:33:57,fc:c2:3d:00:00:01:10:8e,981,-91,3.35,25.37,NaN,19.76,897,0,0,0.06,4.07,-30.6
29,2019-05-08 22:34:58,fc:c2:3d:00:00:01:10:8e,983,-91,3.35,25.37,NaN,19.69,897,0,0,0.06,4.07,-30.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13077,2019-05-16 10:05:22,fc:c2:3d:00:00:01:10:8e,7,-93,3.33,25.75,NaN,24.43,899,103,705,0.61,4.04,-30.7
13078,2019-05-16 10:06:10,fc:c2:3d:00:00:00:89:e8,11,-49,3.33,25.75,NaN,24.40,899,106,705,0.61,4.04,-31.0
13079,2019-05-16 10:06:24,fc:c2:3d:00:00:01:10:8e,12,-75,3.31,26.75,NaN,20.85,900,22505,0,8.56,3.94,74.0
13080,2019-05-16 10:07:26,fc:c2:3d:00:00:01:10:8e,16,-50,3.33,25.75,NaN,24.37,899,105,705,0.61,4.04,-30.3
13081,2019-05-16 10:08:28,fc:c2:3d:00:00:01:10:8e,20,-92,3.32,25.75,NaN,24.35,899,105,705,0.61,4.04,-29.9
13082,2019-05-16 10:09:29,fc:c2:3d:00:00:01:10:8e,24,-47,3.33,25.75,NaN,24.32,899,106,705,0.61,4.04,-31.0
13083,2019-05-16 10:09:32,fc:c2:3d:00:00:01:2f:2d,25,-76,3.35,25.37,NaN,22.08,901,29093,0,8.59,3.97,85.6
13084,2019-05-16 10:11:37,fc:c2:3d:00:00:01:10:8e,3,-78,3.33,25.75,NaN,24.24,899,108,705,0.61,4.04,-30.1
13085,2019-05-16 10:12:33,fc:c2:3d:00:00:01:10:8e,7,-47,3.33,25.75,NaN,24.26,899,109,705,0.61,4.04,-30.7
13086,2019-05-16 10:13:30,fc:c2:3d:00:00:01:33:2a,11,-48,3.33,25.75,NaN,24.25,899,109,705,0.61,4.04,-30.6
13087,2019-05-16 10:13:34,fc:c2:3d:00:00:01:10:8e,12,-78,3.38,23.12,NaN,22.69,900,13701,0,0.61,4.04,-25.8
13088,2019-05-16 10:14:31,fc:c2:3d:00:00:01:33:2a,16,-49,3.33,25.75,NaN,24.23,899,109,705,0.61,4.04,-30.9
13089,2019-05-16 10:14:34,fc:c2:3d:00:00:01:10:8e,17,-75,3.38,23.12,NaN,22.83,900,13713,0,0.61,4.04,-24.3
13090,2019-05-16 10:14:46,fc:c2:3d:00:00:01:2f:2d,18,-99,3.35,25.37,NaN,22.73,901,29929,0,8.59,3.98,87.5
13091,2019-05-16 10:15:36,fc:c2:3d:00:00:01:10:8e,21,-90,3.33,25.75,NaN,24.21,899,110,705,0.61,4.04,-30.9
13092,2019-05-16 10:16:39,fc:c2:3d:00:00:01:33:2a,25,-47,3.33,25.75,NaN,24.20,899,110,705,0.61,4.04,-30.8
13093,2019-05-16 10:16:42,fc:c2:3d:00:00:01:10:8e,26,-74,3.37,23.12,NaN,23.04,900,13112,0,0.61,4.04,-26.3
13094,2019-05-16 10:20:04,fc:c2:3d:00:00:01:2f:2d,38,-72,3.38,26.50,NaN,23.25,899,287,23312,0.60,3.48,-32.1
13095,2019-05-16 10:20:12,fc:c2:3d:00:00:01:33:2a,39,-76,3.38,43.37,NaN,24.63,900,34164,94,8.58,3.87,132.9
13096,2019-05-16 10:20:59,fc:c2:3d:00:00:01:10:8e,42,-42,3.35,26.75,NaN,24.36,899,14,658,0.60,3.48,-29.8
13097,2019-05-16 10:21:15,fc:c2:3d:00:00:01:33:2a,44,-69,3.38,26.50,NaN,23.26,899,280,23312,0.60,3.47,-31.9
13098,2019-05-16 10:21:59,fc:c2:3d:00:00:01:10:8e,47,-47,3.35,26.75,NaN,24.44,899,14,658,0.60,3.47,-30.0
13099,2019-05-16 10:22:19,fc:c2:3d:00:00:01:33:2a,49,-71,3.38,26.50,NaN,23.27,899,280,23312,0.60,3.47,-32.0
13100,2019-05-16 10:22:25,fc:c2:3d:00:00:00:89:e8,50,-43,3.38,23.12,NaN,23.43,900,12630,0,0.61,4.04,-8.4
13101,2019-05-16 10:23:02,fc:c2:3d:00:00:01:10:8e,53,-44,3.35,26.75,NaN,24.46,899,15,658,0.60,3.47,-30.9
13102,2019-05-16 10:23:20,fc:c2:3d:00:00:01:33:2a,55,-96,3.38,26.50,NaN,23.29,899,312,23312,0.60,3.47,-31.8
13103,2019-05-16 10:24:02,fc:c2:3d:00:00:01:10:8e,58,-47,3.35,26.75,NaN,24.46,899,15,658,0.60,3.47,-30.7
13104,2019-05-16 10:24:21,fc:c2:3d:00:00:01:33:2a,60,-67,3.38,26.50,NaN,23.32,899,315,23312,0.60,3.47,-31.9
13105,2019-05-16 10:25:22,fc:c2:3d:00:00:01:33:2a,64,-71,3.38,26.50,NaN,23.33,899,311,23312,0.60,3.48,-32.0
13106,2019-05-16 10:26:23,fc:c2:3d:00:00:01:33:2a,69,-68,3.38,26.50,NaN,23.35,899,312,23312,0.60,3.48,-31.7

# Error %age in each node for whole dataset

In [137]:
#Getting total unique nodes in dataset
df.groupby('nodeAddress').count()

,timeStamp,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
nodeAddress,,,,,,,,,,,,,
fc:c2:3d:00:00:00:89:e8,1758,1758,1758,1758,1758,0,1758,1758,1758,1758,1758,1758,1758
fc:c2:3d:00:00:01:10:8e,7394,7394,7394,7394,7394,0,7394,7394,7394,7394,7394,7394,7394
fc:c2:3d:00:00:01:2f:2d,1038,1038,1038,1038,1038,0,1038,1038,1038,1038,1038,1038,1038
fc:c2:3d:00:00:01:33:2a,2917,2917,2917,2917,2917,0,2917,2917,2917,2917,2917,2917,2917

In [13]:
#Creating a new dataframe which contains 'timeStamp' when NaN(Outlier) occurs 
diagnostic_df = pd.DataFrame(columns=['temp3_89:e8' , 'temp3_10:8e' , 'temp3_2f:2d' , 'temp3_33:2a'] )

In [14]:
diagnostic_df

Empty DataFrame
Columns: [temp3_89:e8, temp3_10:8e, temp3_2f:2d, temp3_33:2a]
Index: []

In [15]:
#Getting values of 'timestamp' in diagnostic_df when NaN occurs for each node

for i in range( df.shape[0]-1):
    if(df.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:00:89:e8'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i ,'temp3_89:e8'] = time
        
for i in range( df.shape[0]-1):
    if(df.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:01:10:8e'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i , 'temp3_10:8e'] = time
            
for i in range( df.shape[0]-1):
    if(df.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:01:2f:2d'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i , 'temp3_2f:2d'] = df.loc[i,'timeStamp' ]
            
for i in range( df.shape[0]-1):
    if(df.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:01:33:2a'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i , 'temp3_33:2a'] = time

In [175]:
#diagnostic_df

In [16]:
#Following line will print whole diagnostic_df
print(diagnostic_df.to_string())

               temp3_89:e8          temp3_10:8e          temp3_2f:2d          temp3_33:2a
6244   2019-05-13 11:23:44                  NaN                  NaN                  NaN
6256   2019-05-13 11:28:45                  NaN                  NaN                  NaN
6267   2019-05-13 11:33:45                  NaN                  NaN                  NaN
6368   2019-05-13 12:18:59                  NaN                  NaN                  NaN
6291                   NaN  2019-05-13 11:44:21                  NaN                  NaN
6375                   NaN  2019-05-13 12:22:04                  NaN                  NaN
6380                   NaN  2019-05-13 12:24:07                  NaN                  NaN
6382                   NaN  2019-05-13 12:25:07                  NaN                  NaN
6387                   NaN  2019-05-13 12:27:10                  NaN                  NaN
6389                   NaN  2019-05-13 12:28:10                  NaN                  NaN
6392                   NaN  2019-05-13 12:29:12                  NaN                  NaN
6394                   NaN  2019-05-13 12:30:13                  NaN                  NaN
6397                   NaN  2019-05-13 12:31:13                  NaN                  NaN
6401                   NaN  2019-05-13 12:33:16                  NaN                  NaN
6404                   NaN  2019-05-13 12:34:16                  NaN                  NaN
6406                   NaN  2019-05-13 12:35:19                  NaN                  NaN
6408                   NaN  2019-05-13 12:36:23                  NaN                  NaN
6410                   NaN  2019-05-13 12:37:23                  NaN                  NaN
6412                   NaN  2019-05-13 12:38:24                  NaN                  NaN
6415                   NaN  2019-05-13 12:39:26                  NaN                  NaN
6418                   NaN  2019-05-13 12:40:27                  NaN                  NaN
6420                   NaN  2019-05-13 12:41:27                  NaN                  NaN
6422                   NaN  2019-05-13 12:42:29                  NaN                  NaN
6424                   NaN  2019-05-13 12:43:30                  NaN                  NaN
6427                   NaN  2019-05-13 12:44:30                  NaN                  NaN
6430                   NaN  2019-05-13 12:45:32                  NaN                  NaN
6432                   NaN  2019-05-13 12:46:33                  NaN                  NaN
6434                   NaN  2019-05-13 12:47:33                  NaN                  NaN
6436                   NaN  2019-05-13 12:48:34                  NaN                  NaN
6439                   NaN  2019-05-13 12:49:36                  NaN                  NaN
6442                   NaN  2019-05-13 12:50:37                  NaN                  NaN
6444                   NaN  2019-05-13 12:51:37                  NaN                  NaN
6446                   NaN  2019-05-13 12:52:39                  NaN                  NaN
6448                   NaN  2019-05-13 12:53:40                  NaN                  NaN
6451                   NaN  2019-05-13 12:54:40                  NaN                  NaN
6453                   NaN  2019-05-13 12:55:42                  NaN                  NaN
6455                   NaN  2019-05-13 12:56:43                  NaN                  NaN
6457                   NaN  2019-05-13 12:57:44                  NaN                  NaN
6459                   NaN  2019-05-13 12:58:44                  NaN                  NaN
6500                   NaN  2019-05-13 13:17:04                  NaN                  NaN
6504                   NaN  2019-05-13 13:19:05                  NaN                  NaN
6507                   NaN  2019-05-13 13:20:07                  NaN                  NaN
6510                   NaN  2019-05-13 13:21:07                  NaN                  NaN
6512                   NaN  2019-05-13 13:22:08                  NaN                  NaN
6514                   NaN  2019-05-13 13:23:10                  NaN                  NaN
6516                   NaN  2019-05-13 13:24:11                  NaN                  NaN
6519                   NaN  2019-05-13 13:25:11                  NaN                  NaN
6522                   NaN  2019-05-13 13:26:13                  NaN                  NaN
6524                   NaN  2019-05-13 13:27:14                  NaN                  NaN
6531                   NaN  2019-05-13 13:30:17                  NaN                  NaN
6536                   NaN  2019-05-13 13:32:18                  NaN                  NaN
6538                   NaN  2019-05-13 13:33:20                  NaN                  NaN
6541                   NaN  2019-05-13 13:34:21                  NaN                  NaN
6543                   NaN  2019-05-13 13:35:21                  NaN                  NaN
6546                   NaN  2019-05-13 13:36:23                  NaN                  NaN
6548                   NaN  2019-05-13 13:37:24                  NaN                  NaN
6550                   NaN  2019-05-13 13:38:24                  NaN                  NaN
6553                   NaN  2019-05-13 13:39:25                  NaN                  NaN
6555                   NaN  2019-05-13 13:40:27                  NaN                  NaN
6558                   NaN  2019-05-13 13:41:28                  NaN                  NaN
6560                   NaN  2019-05-13 13:42:28                  NaN                  NaN
6562                   NaN  2019-05-13 13:43:30                  NaN                  NaN
6564                   NaN  2019-05-13 13:44:31                  NaN                  NaN
6566                   NaN  2019-05-13 13:45:31                  NaN                  NaN
6569                   NaN  2019-05-13 13:46:33                  NaN                  NaN
6571                   NaN  2019-05-13 13:47:34                  NaN                  NaN
6573                   NaN  2019-05-13 13:48:34                  NaN                  NaN
6576                   NaN  2019-05-13 13:49:35                  NaN                  NaN
6578                   NaN  2019-05-13 13:50:37                  NaN                  NaN
6581                   NaN  2019-05-13 13:51:38                  NaN                  NaN
6583                   NaN  2019-05-13 13:52:38                  NaN                  NaN
6585                   NaN  2019-05-13 13:53:40                  NaN                  NaN
6588                   NaN  2019-05-13 13:54:41                  NaN                  NaN
6590                   NaN  2019-05-13 13:55:41                  NaN                  NaN
6593                   NaN  2019-05-13 13:56:45                  NaN                  NaN
6595                   NaN  2019-05-13 13:57:47                  NaN                  NaN
6597                   NaN  2019-05-13 13:58:48                  NaN                  NaN
6600                   NaN  2019-05-13 13:59:48                  NaN                  NaN
6603                   NaN  2019-05-13 14:00:50                  NaN                  NaN
6605                   NaN  2019-05-13 14:01:51                  NaN                  NaN
6607                   NaN  2019-05-13 14:02:51                  NaN                  NaN
6609                   NaN  2019-05-13 14:03:53                  NaN                  NaN
6612                   NaN  2019-05-13 14:04:54                  NaN                  NaN
6615                   NaN  2019-05-13 14:05:54                  NaN                  NaN
6617                   NaN  2019-05-13 14:06:55                  NaN                  NaN
6619                   NaN  2019-05-13 14:07:57                  NaN                  NaN
6621                   NaN  2019-05-13 14:08:58                  NaN                  NaN
6624                   NaN  2019-05-13 14:09:58                  NaN                  NaN
6626                   NaN  2019-05-13 14:11:00                  NaN                  NaN
6628                   NaN  2019-05-13 14:13:03                  NaN                  NaN
6630                   NaN  2019-05-13 14:14:05                  NaN                  NaN
6632                   NaN  2019-05-13 14:15:07                  NaN                  NaN
6634                   NaN  2019-05-13 14:16:08                  NaN                  NaN
6636                   NaN  2019-05-13 14:17:08                  NaN                  NaN
6638                   NaN  2019-05-13 14:18:10                  NaN                  NaN
6640                   NaN  2019-05-13 14:19:11                  NaN                  NaN
6643                   NaN  2019-05-13 14:20:11                  NaN                  NaN
6646                   NaN  2019-05-13 14:21:12                  NaN                  NaN
6648                   NaN  2019-05-13 14:22:14                  NaN                  NaN
6650                   NaN  2019-05-13 14:23:15                  NaN                  NaN
6652                   NaN  2019-05-13 14:24:15                  NaN                  NaN
6655                   NaN  2019-05-13 14:25:17                  NaN                  NaN
6658                   NaN  2019-05-13 14:26:18                  NaN                  NaN
6660                   NaN  2019-05-13 14:27:18                  NaN                  NaN
6662                   NaN  2019-05-13 14:28:20                  NaN                  NaN
6664                   NaN  2019-05-13 14:29:21                  NaN                  NaN
6667                   NaN  2019-05-13 14:30:21                  NaN                  NaN
6670                   NaN  2019-05-13 14:31:23                  NaN                  NaN
6672                   NaN  2019-05-13 14:32:24                  NaN                  NaN
6674                   NaN  2019-05-13 14:33:24                  NaN                  NaN
6676                   NaN  2019-05-13 14:34:25                  NaN                  NaN
6679                   NaN  2019-05-13 14:35:27                  NaN                  NaN
6682                   NaN  2019-05-13 14:36:28                  NaN                  NaN
6684                   NaN  2019-05-13 14:37:28                  NaN                  NaN
6686                   NaN  2019-05-13 14:38:30                  NaN                  NaN
6688                   NaN  2019-05-13 14:39:31                  NaN                  NaN
908                    NaN                  NaN  2019-05-09 09:19:23                  NaN
915                    NaN                  NaN  2019-05-09 09:24:24                  NaN
922                    NaN                  NaN  2019-05-09 09:29:26                  NaN
929                    NaN                  NaN  2019-05-09 09:34:26                  NaN
935                    NaN                  NaN  2019-05-09 09:39:27                  NaN
942                    NaN                  NaN  2019-05-09 09:44:28                  NaN
949                    NaN                  NaN  2019-05-09 09:49:29                  NaN
956                    NaN                  NaN  2019-05-09 09:54:30                  NaN
963                    NaN                  NaN  2019-05-09 09:59:31                  NaN
970                    NaN                  NaN  2019-05-09 10:04:32                  NaN
983                    NaN                  NaN  2019-05-09 10:14:37                  NaN
990                    NaN                  NaN  2019-05-09 10:19:39                  NaN
997                    NaN                  NaN  2019-05-09 10:24:39                  NaN
1004                   NaN                  NaN  2019-05-09 10:29:40                  NaN
1011                   NaN                  NaN  2019-05-09 10:34:41                  NaN
1018                   NaN                  NaN  2019-05-09 10:39:42                  NaN
1025                   NaN                  NaN  2019-05-09 10:44:43                  NaN
1032                   NaN                  NaN  2019-05-09 10:49:44                  NaN
1038                   NaN                  NaN  2019-05-09 10:54:45                  NaN
1045                   NaN                  NaN  2019-05-09 10:59:46                  NaN
1052                   NaN                  NaN  2019-05-09 11:04:47                  NaN
1059                   NaN                  NaN  2019-05-09 11:09:48                  NaN
1066                   NaN                  NaN  2019-05-09 11:14:50                  NaN
1073                   NaN                  NaN  2019-05-09 11:19:51                  NaN
1080                   NaN                  NaN  2019-05-09 11:24:56                  NaN
1087                   NaN                  NaN  2019-05-09 11:29:57                  NaN
1094                   NaN                  NaN  2019-05-09 11:34:58                  NaN
1101                   NaN                  NaN  2019-05-09 11:39:59                  NaN
1108                   NaN                  NaN  2019-05-09 11:45:00                  NaN
1115                   NaN                  NaN  2019-05-09 11:50:01                  NaN
1122                   NaN                  NaN  2019-05-09 11:55:02                  NaN
1129                   NaN                  NaN  2019-05-09 12:00:03                  NaN
1136                   NaN                  NaN  2019-05-09 12:05:04                  NaN
1143                   NaN                  NaN  2019-05-09 12:10:05                  NaN
1149                   NaN                  NaN  2019-05-09 12:15:06                  NaN
1156                   NaN                  NaN  2019-05-09 12:20:07                  NaN
1163                   NaN                  NaN  2019-05-09 12:25:08                  NaN
1170                   NaN                  NaN  2019-05-09 12:30:09                  NaN
1177                   NaN                  NaN  2019-05-09 12:35:10                  NaN
1184                   NaN                  NaN  2019-05-09 12:40:11                  NaN
1196                   NaN                  NaN  2019-05-09 12:50:16                  NaN
1203                   NaN                  NaN  2019-05-09 12:55:17                  NaN
1210                   NaN                  NaN  2019-05-09 13:00:18                  NaN
1217                   NaN                  NaN  2019-05-09 13:05:19                  NaN
1224                   NaN                  NaN  2019-05-09 13:10:20                  NaN
1231                   NaN                  NaN  2019-05-09 13:15:21                  NaN
1238                   NaN                  NaN  2019-05-09 13:20:22                  NaN
1245                   NaN                  NaN  2019-05-09 13:25:23                  NaN
1251                   NaN                  NaN  2019-05-09 13:30:24                  NaN
1258                   NaN                  NaN  2019-05-09 13:35:25                  NaN
1265                   NaN                  NaN  2019-05-09 13:40:26                  NaN
1272                   NaN                  NaN  2019-05-09 13:45:27                  NaN
1279                   NaN                  NaN  2019-05-09 13:50:28                  NaN
1286                   NaN                  NaN  2019-05-09 13:55:29                  NaN
1293                   NaN                  NaN  2019-05-09 14:00:30                  NaN
1299                   NaN                  NaN  2019-05-09 14:05:31                  NaN
1306                   NaN                  NaN  2019-05-09 14:10:32                  NaN
1313                   NaN                  NaN  2019-05-09 14:15:33                  NaN
1320                   NaN                  NaN  2019-05-09 14:20:34                  NaN
1327                   NaN                  NaN  2019-05-09 14:25:35                  NaN
1334                   NaN                  NaN  2019-05-09 14:30:36                  NaN
1341                   NaN                  NaN  2019-05-09 14:35:37                  NaN
1347                   NaN                  NaN  2019-05-09 14:40:40                  NaN
1354                   NaN                  NaN  2019-05-09 14:45:40                  NaN
1361                   NaN                  NaN  2019-05-09 14:50:41                  NaN
1371                   NaN                  NaN  2019-05-09 15:02:16                  NaN
1378                   NaN                  NaN  2019-05-09 15:07:17                  NaN
1385                   NaN                  NaN  2019-05-09 15:12:17                  NaN
1392                   NaN                  NaN  2019-05-09 15:17:18                  NaN
1399                   NaN                  NaN  2019-05-09 15:22:20                  NaN
1406                   NaN                  NaN  2019-05-09 15:27:21                  NaN
1413                   NaN                  NaN  2019-05-09 15:32:23                  NaN
1420                   NaN                  NaN  2019-05-09 15:37:28                  NaN
1426                   NaN                  NaN  2019-05-09 15:42:30                  NaN
2844                   NaN                  NaN  2019-05-10 09:37:24                  NaN
2851                   NaN                  NaN  2019-05-10 09:42:25                  NaN
2858                   NaN                  NaN  2019-05-10 09:47:26                  NaN
2865                   NaN                  NaN  2019-05-10 09:52:27                  NaN
2872                   NaN                  NaN  2019-05-10 09:57:28                  NaN
2879                   NaN                  NaN  2019-05-10 10:02:29                  NaN
2884                   NaN                  NaN  2019-05-10 10:07:30                  NaN
2887                   NaN                  NaN  2019-05-10 10:12:33                  NaN
2894                   NaN                  NaN  2019-05-10 10:17:34                  NaN
2901                   NaN                  NaN  2019-05-10 10:22:34                  NaN
2908                   NaN                  NaN  2019-05-10 10:27:36                  NaN
2918                   NaN                  NaN  2019-05-10 10:37:41                  NaN
2924                   NaN                  NaN  2019-05-10 10:42:42                  NaN
2931                   NaN                  NaN  2019-05-10 10:47:43                  NaN
2938                   NaN                  NaN  2019-05-10 10:52:44                  NaN
2945                   NaN                  NaN  2019-05-10 10:57:49                  NaN
2952                   NaN                  NaN  2019-05-10 11:03:00                  NaN
2965                   NaN                  NaN  2019-05-10 11:13:12                  NaN
2984                   NaN                  NaN  2019-05-10 11:28:27                  NaN
2991                   NaN                  NaN  2019-05-10 11:33:28                  NaN
2998                   NaN                  NaN  2019-05-10 11:38:29                  NaN
3010                   NaN                  NaN  2019-05-10 11:48:35                  NaN
3041                   NaN                  NaN  2019-05-10 12:14:25                  NaN
3044                   NaN                  NaN  2019-05-10 12:19:20                  NaN
3050                   NaN                  NaN  2019-05-10 12:24:22                  NaN
3057                   NaN                  NaN  2019-05-10 12:29:23                  NaN
3064                   NaN                  NaN  2019-05-10 12:34:24                  NaN
3071                   NaN                  NaN  2019-05-10 12:39:25                  NaN
3078                   NaN                  NaN  2019-05-10 12:44:26                  NaN
3085                   NaN                  NaN  2019-05-10 12:49:27                  NaN
3092                   NaN                  NaN  2019-05-10 12:54:29                  NaN

In [17]:
#Compressing the Diagnostic_df to get better look
diagnostic_df = pd.concat([diagnostic_df[x].dropna().reset_index(drop=True) for x in diagnostic_df], axis=1)

In [18]:
#Again printing whole diagnostic_df
print(diagnostic_df.to_string())

             temp3_89:e8          temp3_10:8e          temp3_2f:2d          temp3_33:2a
0    2019-05-13 11:23:44  2019-05-13 11:44:21  2019-05-09 09:19:23  2019-05-13 11:20:42
1    2019-05-13 11:28:45  2019-05-13 12:22:04  2019-05-09 09:24:24  2019-05-13 11:21:43
2    2019-05-13 11:33:45  2019-05-13 12:24:07  2019-05-09 09:29:26  2019-05-13 11:24:51
3    2019-05-13 12:18:59  2019-05-13 12:25:07  2019-05-09 09:34:26  2019-05-13 11:25:52
4                    NaN  2019-05-13 12:27:10  2019-05-09 09:39:27  2019-05-13 11:26:53
5                    NaN  2019-05-13 12:28:10  2019-05-09 09:44:28  2019-05-13 11:27:54
6                    NaN  2019-05-13 12:29:12  2019-05-09 09:49:29  2019-05-13 11:29:59
7                    NaN  2019-05-13 12:30:13  2019-05-09 09:54:30  2019-05-13 11:30:59
8                    NaN  2019-05-13 12:31:13  2019-05-09 09:59:31  2019-05-13 11:32:00
9                    NaN  2019-05-13 12:33:16  2019-05-09 10:04:32  2019-05-13 11:33:01
10                   NaN  2019-05-13 12:34:16  2019-05-09 10:14:37  2019-05-13 11:35:03
11                   NaN  2019-05-13 12:35:19  2019-05-09 10:19:39  2019-05-13 11:36:07
12                   NaN  2019-05-13 12:36:23  2019-05-09 10:24:39  2019-05-13 11:37:05
13                   NaN  2019-05-13 12:37:23  2019-05-09 10:29:40  2019-05-13 11:38:06
14                   NaN  2019-05-13 12:38:24  2019-05-09 10:34:41  2019-05-13 11:39:07
15                   NaN  2019-05-13 12:39:26  2019-05-09 10:39:42  2019-05-13 11:40:09
16                   NaN  2019-05-13 12:40:27  2019-05-09 10:44:43  2019-05-13 11:41:12
17                   NaN  2019-05-13 12:41:27  2019-05-09 10:49:44  2019-05-13 11:42:13
18                   NaN  2019-05-13 12:42:29  2019-05-09 10:54:45  2019-05-13 11:43:14
19                   NaN  2019-05-13 12:43:30  2019-05-09 10:59:46  2019-05-13 13:05:40
20                   NaN  2019-05-13 12:44:30  2019-05-09 11:04:47  2019-05-13 13:10:45
21                   NaN  2019-05-13 12:45:32  2019-05-09 11:09:48  2019-05-13 13:15:50
22                   NaN  2019-05-13 12:46:33  2019-05-09 11:14:50  2019-05-13 13:20:55
23                   NaN  2019-05-13 12:47:33  2019-05-09 11:19:51  2019-05-13 13:25:59
24                   NaN  2019-05-13 12:48:34  2019-05-09 11:24:56  2019-05-13 13:31:05
25                   NaN  2019-05-13 12:49:36  2019-05-09 11:29:57  2019-05-13 13:36:09
26                   NaN  2019-05-13 12:50:37  2019-05-09 11:34:58  2019-05-13 13:41:15
27                   NaN  2019-05-13 12:51:37  2019-05-09 11:39:59  2019-05-13 13:46:23
28                   NaN  2019-05-13 12:52:39  2019-05-09 11:45:00  2019-05-13 13:51:28
29                   NaN  2019-05-13 12:53:40  2019-05-09 11:50:01  2019-05-13 13:56:33
30                   NaN  2019-05-13 12:54:40  2019-05-09 11:55:02                  NaN
31                   NaN  2019-05-13 12:55:42  2019-05-09 12:00:03                  NaN
32                   NaN  2019-05-13 12:56:43  2019-05-09 12:05:04                  NaN
33                   NaN  2019-05-13 12:57:44  2019-05-09 12:10:05                  NaN
34                   NaN  2019-05-13 12:58:44  2019-05-09 12:15:06                  NaN
35                   NaN  2019-05-13 13:17:04  2019-05-09 12:20:07                  NaN
36                   NaN  2019-05-13 13:19:05  2019-05-09 12:25:08                  NaN
37                   NaN  2019-05-13 13:20:07  2019-05-09 12:30:09                  NaN
38                   NaN  2019-05-13 13:21:07  2019-05-09 12:35:10                  NaN
39                   NaN  2019-05-13 13:22:08  2019-05-09 12:40:11                  NaN
40                   NaN  2019-05-13 13:23:10  2019-05-09 12:50:16                  NaN
41                   NaN  2019-05-13 13:24:11  2019-05-09 12:55:17                  NaN
42                   NaN  2019-05-13 13:25:11  2019-05-09 13:00:18                  NaN
43                   NaN  2019-05-13 13:26:13  2019-05-09 13:05:19                  NaN
44                   NaN  2019-05-13 13:27:14  2019-05-09 13:10:20                  NaN
45                   NaN  2019-05-13 13:30:17  2019-05-09 13:15:21                  NaN
46                   NaN  2019-05-13 13:32:18  2019-05-09 13:20:22                  NaN
47                   NaN  2019-05-13 13:33:20  2019-05-09 13:25:23                  NaN
48                   NaN  2019-05-13 13:34:21  2019-05-09 13:30:24                  NaN
49                   NaN  2019-05-13 13:35:21  2019-05-09 13:35:25                  NaN
50                   NaN  2019-05-13 13:36:23  2019-05-09 13:40:26                  NaN
51                   NaN  2019-05-13 13:37:24  2019-05-09 13:45:27                  NaN
52                   NaN  2019-05-13 13:38:24  2019-05-09 13:50:28                  NaN
53                   NaN  2019-05-13 13:39:25  2019-05-09 13:55:29                  NaN
54                   NaN  2019-05-13 13:40:27  2019-05-09 14:00:30                  NaN
55                   NaN  2019-05-13 13:41:28  2019-05-09 14:05:31                  NaN
56                   NaN  2019-05-13 13:42:28  2019-05-09 14:10:32                  NaN
57                   NaN  2019-05-13 13:43:30  2019-05-09 14:15:33                  NaN
58                   NaN  2019-05-13 13:44:31  2019-05-09 14:20:34                  NaN
59                   NaN  2019-05-13 13:45:31  2019-05-09 14:25:35                  NaN
60                   NaN  2019-05-13 13:46:33  2019-05-09 14:30:36                  NaN
61                   NaN  2019-05-13 13:47:34  2019-05-09 14:35:37                  NaN
62                   NaN  2019-05-13 13:48:34  2019-05-09 14:40:40                  NaN
63                   NaN  2019-05-13 13:49:35  2019-05-09 14:45:40                  NaN
64                   NaN  2019-05-13 13:50:37  2019-05-09 14:50:41                  NaN
65                   NaN  2019-05-13 13:51:38  2019-05-09 15:02:16                  NaN
66                   NaN  2019-05-13 13:52:38  2019-05-09 15:07:17                  NaN
67                   NaN  2019-05-13 13:53:40  2019-05-09 15:12:17                  NaN
68                   NaN  2019-05-13 13:54:41  2019-05-09 15:17:18                  NaN
69                   NaN  2019-05-13 13:55:41  2019-05-09 15:22:20                  NaN
70                   NaN  2019-05-13 13:56:45  2019-05-09 15:27:21                  NaN
71                   NaN  2019-05-13 13:57:47  2019-05-09 15:32:23                  NaN
72                   NaN  2019-05-13 13:58:48  2019-05-09 15:37:28                  NaN
73                   NaN  2019-05-13 13:59:48  2019-05-09 15:42:30                  NaN
74                   NaN  2019-05-13 14:00:50  2019-05-10 09:37:24                  NaN
75                   NaN  2019-05-13 14:01:51  2019-05-10 09:42:25                  NaN
76                   NaN  2019-05-13 14:02:51  2019-05-10 09:47:26                  NaN
77                   NaN  2019-05-13 14:03:53  2019-05-10 09:52:27                  NaN
78                   NaN  2019-05-13 14:04:54  2019-05-10 09:57:28                  NaN
79                   NaN  2019-05-13 14:05:54  2019-05-10 10:02:29                  NaN
80                   NaN  2019-05-13 14:06:55  2019-05-10 10:07:30                  NaN
81                   NaN  2019-05-13 14:07:57  2019-05-10 10:12:33                  NaN
82                   NaN  2019-05-13 14:08:58  2019-05-10 10:17:34                  NaN
83                   NaN  2019-05-13 14:09:58  2019-05-10 10:22:34                  NaN
84                   NaN  2019-05-13 14:11:00  2019-05-10 10:27:36                  NaN
85                   NaN  2019-05-13 14:13:03  2019-05-10 10:37:41                  NaN
86                   NaN  2019-05-13 14:14:05  2019-05-10 10:42:42                  NaN
87                   NaN  2019-05-13 14:15:07  2019-05-10 10:47:43                  NaN
88                   NaN  2019-05-13 14:16:08  2019-05-10 10:52:44                  NaN
89                   NaN  2019-05-13 14:17:08  2019-05-10 10:57:49                  NaN
90                   NaN  2019-05-13 14:18:10  2019-05-10 11:03:00                  NaN
91                   NaN  2019-05-13 14:19:11  2019-05-10 11:13:12                  NaN
92                   NaN  2019-05-13 14:20:11  2019-05-10 11:28:27                  NaN
93                   NaN  2019-05-13 14:21:12  2019-05-10 11:33:28                  NaN
94                   NaN  2019-05-13 14:22:14  2019-05-10 11:38:29                  NaN
95                   NaN  2019-05-13 14:23:15  2019-05-10 11:48:35                  NaN
96                   NaN  2019-05-13 14:24:15  2019-05-10 12:14:25                  NaN
97                   NaN  2019-05-13 14:25:17  2019-05-10 12:19:20                  NaN
98                   NaN  2019-05-13 14:26:18  2019-05-10 12:24:22                  NaN
99                   NaN  2019-05-13 14:27:18  2019-05-10 12:29:23                  NaN
100                  NaN  2019-05-13 14:28:20  2019-05-10 12:34:24                  NaN
101                  NaN  2019-05-13 14:29:21  2019-05-10 12:39:25                  NaN
102                  NaN  2019-05-13 14:30:21  2019-05-10 12:44:26                  NaN
103                  NaN  2019-05-13 14:31:23  2019-05-10 12:49:27                  NaN
104                  NaN  2019-05-13 14:32:24  2019-05-10 12:54:29                  NaN
105                  NaN  2019-05-13 14:33:24  2019-05-10 13:04:33                  NaN
106                  NaN  2019-05-13 14:34:25  2019-05-10 13:09:35                  NaN
107                  NaN  2019-05-13 14:35:27  2019-05-10 13:14:36                  NaN
108                  NaN  2019-05-13 14:36:28  2019-05-10 13:19:39                  NaN
109                  NaN  2019-05-13 14:37:28  2019-05-10 13:29:51                  NaN
110                  NaN  2019-05-13 14:38:30  2019-05-10 13:34:57                  NaN
111                  NaN  2019-05-13 14:39:31  2019-05-10 13:55:13                  NaN
112                  NaN                  NaN  2019-05-10 14:03:46                  NaN
113                  NaN                  NaN  2019-05-13 11:40:07                  NaN
114                  NaN                  NaN  2019-05-13 11:45:09                  NaN
115                  NaN                  NaN  2019-05-13 12:40:25                  NaN
116                  NaN                  NaN  2019-05-13 12:45:30                  NaN
117                  NaN                  NaN  2019-05-13 14:00:48                  NaN
118                  NaN                  NaN  2019-05-15 10:46:40                  NaN
119                  NaN                  NaN  2019-05-15 10:51:42                  NaN
120                  NaN                  NaN  2019-05-15 12:42:35                  NaN
121                  NaN                  NaN  2019-05-15 13:08:02                  NaN
122                  NaN                  NaN  2019-05-15 13:13:03                  NaN
123                  NaN                  NaN  2019-05-15 13:23:08                  NaN
124                  NaN                  NaN  2019-05-15 13:28:10                  NaN
125                  NaN                  NaN  2019-05-15 13:33:11                  NaN
126                  NaN                  NaN  2019-05-15 13:38:15                  NaN
127                  NaN                  NaN  2019-05-15 13:43:15                  NaN
128                  NaN                  NaN  2019-05-15 13:48:17                  NaN
129                  NaN                  NaN  2019-05-15 14:03:31                  NaN
130                  NaN                  NaN  2019-05-15 14:08:33                  NaN
131                  NaN                  NaN  2019-05-15 14:13:37                  NaN
132                  NaN                  NaN  2019-05-15 14:18:38                  NaN
133                  NaN                  NaN  2019-05-15 14:23:39                  NaN
134                  NaN                  NaN  2019-05-15 14:28:39                  NaN
135                  NaN                  NaN  2019-05-15 14:43:45                  NaN
136                  NaN                  NaN  2019-05-15 14:48:43                  NaN

In [23]:
#Describing 'diagnostic_df' into NaN_Data
NaN_Data = diagnostic_df.describe()
NaN_Data

,temp3_89:e8,temp3_10:8e,temp3_2f:2d,temp3_33:2a
count,4,112,137,30
unique,4,112,137,30
top,2019-05-13 11:23:44,2019-05-13 12:56:43,2019-05-10 10:52:44,2019-05-13 13:15:50
freq,1,1,1,1

In [32]:
NaN_Data_89e8 = NaN_Data['temp3_89:e8'][0] #Total NaN in node 89:e8
NaN_Data_108e = NaN_Data['temp3_10:8e'][0] #Total NaN in node 10:8e
NaN_Data_2f2d = NaN_Data['temp3_2f:2d'][0] #Total NaN in node 2f:2d
NaN_Data_332a = NaN_Data['temp3_33:2a'][0] #Total NaN in node 33:2a

In [33]:
NaN_Data_89e8

4

In [10]:
# Grouping original dataset (df) into 'groupby' to get total datapoints in each node
groupby = df.groupby('nodeAddress').count()
groupby

,timeStamp,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr
nodeAddress,,,,,,,,,,,,,
fc:c2:3d:00:00:00:89:e8,1758,1758,1758,1758,1758,0,1758,1758,1758,1758,1758,1758,1758
fc:c2:3d:00:00:01:10:8e,7394,7394,7394,7394,7394,0,7394,7394,7394,7394,7394,7394,7394
fc:c2:3d:00:00:01:2f:2d,1038,1038,1038,1038,1038,0,1038,1038,1038,1038,1038,1038,1038
fc:c2:3d:00:00:01:33:2a,2917,2917,2917,2917,2917,0,2917,2917,2917,2917,2917,2917,2917

In [34]:
#For all dataset
total_data_89e8 = groupby.loc['fc:c2:3d:00:00:00:89:e8' , 'temperature3'] #Total Datapoints in node 89:e8
total_data_108e = groupby.loc['fc:c2:3d:00:00:01:10:8e' , 'temperature3'] #Total Datapoints in node 10:8e
total_data_2f2d = groupby.loc['fc:c2:3d:00:00:01:2f:2d' , 'temperature3'] #Total Datapoints in node 2f:2d
total_data_332a = groupby.loc['fc:c2:3d:00:00:01:33:2a' , 'temperature3'] #Total Datapoints in node 33:2a

In [35]:
total_data_89e8

1758

In [37]:
# Calculating error %age for each node
err_89e8 = (NaN_Data_89e8 / total_data_89e8)*100
err_108e = (NaN_Data_108e / total_data_108e)*100
err_2f2d = (NaN_Data_2f2d / total_data_2f2d)*100
err_332a = (NaN_Data_332a / total_data_332a)*100

In [39]:
print("Error %age For Whole Data Set in each node")
print('Error in 89e8' , err_89e8)
print('Error in 108e' , err_108e)
print('Error in 2f2d' , err_2f2d)
print('Error in 332a' , err_332a)

For Whole Data Set
Error in 89e8 0.22753128555176336
Error in 108e 1.5147416824452258
Error in 2f2d 13.19845857418112
Error in 332a 1.0284538909838876

# Finding Error %age in each node per day

In [123]:
df.info() # df is our original dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13107 entries, 0 to 13106
Data columns (total 14 columns):
timeStamp             13107 non-null object
nodeAddress           13107 non-null object
packteID              13107 non-null int64
nodeRSSI              13107 non-null int64
nodeVolt              13107 non-null float64
temperature1          13107 non-null float64
temperature2          0 non-null float64
temperature3          13107 non-null float64
pressure              13107 non-null int64
luminosity            13107 non-null int64
rainfall              13107 non-null int64
solarPanelVolt        13107 non-null float64
solarPanelBattVolt    13107 non-null float64
solarPanelCurr        13107 non-null float64
dtypes: float64(7), int64(5), object(2)
memory usage: 1.4+ MB

In [124]:
#Creating a new dataframe 'test' i.e. copy of 'df'
test = df.copy()

In [125]:
#Converting 'timeStamp' to 'datetime' type
test['timeStamp'] = pd.to_datetime(test['timeStamp'])

In [126]:
 # creating to new columns of 'date' separetely i.e. 'new_date'
test['new_date'] = [d.date() for d in test['timeStamp']]

In [127]:
#Converting 'new_date' to 'datetime' type
test['new_date'] = pd.to_datetime(test['new_date'])

In [128]:
test

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,new_date
0,2019-05-08 22:12:19,fc:c2:3d:00:00:00:89:e8,932,-67,3.31,26.75,NaN,19.09,896,0,0,0.02,4.08,-29.1,2019-05-08
1,2019-05-08 22:14:38,fc:c2:3d:00:00:01:10:8e,934,-91,3.35,25.37,NaN,20.26,897,0,0,0.06,4.07,-30.4,2019-05-08
2,2019-05-08 22:15:39,fc:c2:3d:00:00:01:10:8e,936,-91,3.35,25.37,NaN,20.23,897,0,0,0.06,4.07,-30.3,2019-05-08
3,2019-05-08 22:16:22,fc:c2:3d:00:00:01:2f:2d,937,-68,3.38,33.00,NaN,15.65,897,0,0,0.03,3.58,-30.6,2019-05-08
4,2019-05-08 22:16:40,fc:c2:3d:00:00:01:10:8e,939,-90,3.35,25.37,NaN,20.21,897,0,0,0.06,4.07,-30.3,2019-05-08
5,2019-05-08 22:17:21,fc:c2:3d:00:00:00:89:e8,940,-68,3.31,26.75,NaN,18.98,896,0,0,0.02,4.07,-30.5,2019-05-08
6,2019-05-08 22:17:41,fc:c2:3d:00:00:01:10:8e,942,-90,3.35,25.37,NaN,20.22,897,0,0,0.06,4.07,-29.6,2019-05-08
7,2019-05-08 22:18:42,fc:c2:3d:00:00:01:10:8e,944,-91,3.35,25.37,NaN,20.19,897,0,0,0.06,4.07,-30.5,2019-05-08
8,2019-05-08 22:19:43,fc:c2:3d:00:00:01:10:8e,946,-90,3.35,25.37,NaN,20.18,897,0,0,0.06,4.07,-30.2,2019-05-08
9,2019-05-08 22:20:44,fc:c2:3d:00:00:01:10:8e,948,-92,3.35,25.37,NaN,20.19,897,0,0,0.06,4.07,-30.1,2019-05-08
10,2019-05-08 22:21:23,fc:c2:3d:00:00:01:2f:2d,949,-68,3.38,33.00,NaN,15.49,897,0,0,0.02,3.58,-30.4,2019-05-08
11,2019-05-08 22:21:45,fc:c2:3d:00:00:01:10:8e,951,-92,3.35,25.37,NaN,20.17,897,0,0,0.06,4.07,-30.7,2019-05-08
12,2019-05-08 22:22:22,fc:c2:3d:00:00:00:89:e8,952,-68,3.31,26.75,NaN,18.82,896,0,0,0.02,4.08,-30.4,2019-05-08
13,2019-05-08 22:22:46,fc:c2:3d:00:00:01:10:8e,954,-91,3.35,25.37,NaN,20.15,897,0,0,0.06,4.07,-30.4,2019-05-08
14,2019-05-08 22:23:46,fc:c2:3d:00:00:01:10:8e,956,-91,3.35,25.37,NaN,20.16,897,0,0,0.06,4.07,-30.5,2019-05-08
15,2019-05-08 22:24:47,fc:c2:3d:00:00:01:10:8e,958,-91,3.35,25.37,NaN,20.17,897,0,0,0.06,4.07,-30.4,2019-05-08
16,2019-05-08 22:25:49,fc:c2:3d:00:00:01:10:8e,960,-90,3.35,25.37,NaN,20.15,897,0,0,0.06,4.07,-30.3,2019-05-08
17,2019-05-08 22:26:23,fc:c2:3d:00:00:01:2f:2d,961,-68,3.39,33.00,NaN,15.50,897,0,0,0.03,3.58,-30.7,2019-05-08
18,2019-05-08 22:26:50,fc:c2:3d:00:00:01:10:8e,963,-91,3.35,25.37,NaN,20.11,897,0,0,0.06,4.07,-30.6,2019-05-08
19,2019-05-08 22:27:23,fc:c2:3d:00:00:00:89:e8,965,-68,3.31,26.75,NaN,18.69,896,0,0,0.03,4.07,-29.4,2019-05-08
20,2019-05-08 22:27:51,fc:c2:3d:00:00:01:10:8e,967,-90,3.36,25.37,NaN,20.08,897,0,0,0.06,4.07,-30.0,2019-05-08
21,2019-05-08 22:28:52,fc:c2:3d:00:00:01:10:8e,969,-90,3.35,25.37,NaN,20.05,897,0,0,0.06,4.07,-30.4,2019-05-08
22,2019-05-08 22:29:53,fc:c2:3d:00:00:01:10:8e,971,-92,3.35,25.37,NaN,20.01,897,0,0,0.06,4.07,-30.2,2019-05-08
23,2019-05-08 22:30:54,fc:c2:3d:00:00:01:10:8e,973,-91,3.36,25.37,NaN,19.95,897,0,0,0.06,4.07,-30.6,2019-05-08
24,2019-05-08 22:31:25,fc:c2:3d:00:00:01:2f:2d,974,-68,3.38,33.00,NaN,15.50,897,0,0,0.03,3.58,-30.8,2019-05-08
25,2019-05-08 22:31:54,fc:c2:3d:00:00:01:10:8e,976,-91,3.35,25.37,NaN,19.87,897,0,0,0.06,4.07,-30.2,2019-05-08
26,2019-05-08 22:32:24,fc:c2:3d:00:00:00:89:e8,977,-67,3.31,26.75,NaN,18.56,896,0,0,0.02,4.07,-29.7,2019-05-08
27,2019-05-08 22:32:55,fc:c2:3d:00:00:01:10:8e,979,-90,3.36,25.37,NaN,19.81,897,0,0,0.06,4.07,-30.5,2019-05-08
28,2019-05-08 22:33:57,fc:c2:3d:00:00:01:10:8e,981,-91,3.35,25.37,NaN,19.76,897,0,0,0.06,4.07,-30.6,2019-05-08
29,2019-05-08 22:34:58,fc:c2:3d:00:00:01:10:8e,983,-91,3.35,25.37,NaN,19.69,897,0,0,0.06,4.07,-30.1,2019-05-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13077,2019-05-16 10:05:22,fc:c2:3d:00:00:01:10:8e,7,-93,3.33,25.75,NaN,24.43,899,103,705,0.61,4.04,-30.7,2019-05-16
13078,2019-05-16 10:06:10,fc:c2:3d:00:00:00:89:e8,11,-49,3.33,25.75,NaN,24.40,899,106,705,0.61,4.04,-31.0,2019-05-16
13079,2019-05-16 10:06:24,fc:c2:3d:00:00:01:10:8e,12,-75,3.31,26.75,NaN,20.85,900,22505,0,8.56,3.94,74.0,2019-05-16
13080,2019-05-16 10:07:26,fc:c2:3d:00:00:01:10:8e,16,-50,3.33,25.75,NaN,24.37,899,105,705,0.61,4.04,-30.3,2019-05-16
13081,2019-05-16 10:08:28,fc:c2:3d:00:00:01:10:8e,20,-92,3.32,25.75,NaN,24.35,899,105,705,0.61,4.04,-29.9,2019-05-16
13082,2019-05-16 10:09:29,fc:c2:3d:00:00:01:10:8e,24,-47,3.33,25.75,NaN,24.32,899,106,705,0.61,4.04,-31.0,2019-05-16
13083,2019-05-16 10:09:32,fc:c2:3d:00:00:01:2f:2d,25,-76,3.35,25.37,NaN,22.08,901,29093,0,8.59,3.97,85.6,2019-05-16
13084,2019-05-16 10:11:37,fc:c2:3d:00:00:01:10:8e,3,-78,3.33,25.75,NaN,24.24,899,108,705,0.61,4.04,-30.1,2019-05-16
13085,2019-05-16 10:12:33,fc:c2:3d:00:00:01:10:8e,7,-47,3.33,25.75,NaN,24.26,899,109,705,0.61,4.04,-30.7,2019-05-16
13086,2019-05-16 10:13:30,fc:c2:3d:00:00:01:33:2a,11,-48,3.33,25.75,NaN,24.25,899,109,705,0.61,4.04,-30.6,2019-05-16
13087,2019-05-16 10:13:34,fc:c2:3d:00:00:01:10:8e,12,-78,3.38,23.12,NaN,22.69,900,13701,0,0.61,4.04,-25.8,2019-05-16
13088,2019-05-16 10:14:31,fc:c2:3d:00:00:01:33:2a,16,-49,3.33,25.75,NaN,24.23,899,109,705,0.61,4.04,-30.9,2019-05-16
13089,2019-05-16 10:14:34,fc:c2:3d:00:00:01:10:8e,17,-75,3.38,23.12,NaN,22.83,900,13713,0,0.61,4.04,-24.3,2019-05-16
13090,2019-05-16 10:14:46,fc:c2:3d:00:00:01:2f:2d,18,-99,3.35,25.37,NaN,22.73,901,29929,0,8.59,3.98,87.5,2019-05-16
13091,2019-05-16 10:15:36,fc:c2:3d:00:00:01:10:8e,21,-90,3.33,25.75,NaN,24.21,899,110,705,0.61,4.04,-30.9,2019-05-16
13092,2019-05-16 10:16:39,fc:c2:3d:00:00:01:33:2a,25,-47,3.33,25.75,NaN,24.20,899,110,705,0.61,4.04,-30.8,2019-05-16
13093,2019-05-16 10:16:42,fc:c2:3d:00:00:01:10:8e,26,-74,3.37,23.12,NaN,23.04,900,13112,0,0.61,4.04,-26.3,2019-05-16
13094,2019-05-16 10:20:04,fc:c2:3d:00:00:01:2f:2d,38,-72,3.38,26.50,NaN,23.25,899,287,23312,0.60,3.48,-32.1,2019-05-16
13095,2019-05-16 10:20:12,fc:c2:3d:00:00:01:33:2a,39,-76,3.38,43.37,NaN,24.63,900,34164,94,8.58,3.87,132.9,2019-05-16
13096,2019-05-16 10:20:59,fc:c2:3d:00:00:01:10:8e,42,-42,3.35,26.75,NaN,24.36,899,14,658,0.60,3.48,-29.8,2019-05-16
13097,2019-05-16 10:21:15,fc:c2:3d:00:00:01:33:2a,44,-69,3.38,26.50,NaN,23.26,899,280,23312,0.60,3.47,-31.9,2019-05-16
13098,2019-05-16 10:21:59,fc:c2:3d:00:00:01:10:8e,47,-47,3.35,26.75,NaN,24.44,899,14,658,0.60,3.47,-30.0,2019-05-16
13099,2019-05-16 10:22:19,fc:c2:3d:00:00:01:33:2a,49,-71,3.38,26.50,NaN,23.27,899,280,23312,0.60,3.47,-32.0,2019-05-16
13100,2019-05-16 10:22:25,fc:c2:3d:00:00:00:89:e8,50,-43,3.38,23.12,NaN,23.43,900,12630,0,0.61,4.04,-8.4,2019-05-16
13101,2019-05-16 10:23:02,fc:c2:3d:00:00:01:10:8e,53,-44,3.35,26.75,NaN,24.46,899,15,658,0.60,3.47,-30.9,2019-05-16
13102,2019-05-16 10:23:20,fc:c2:3d:00:00:01:33:2a,55,-96,3.38,26.50,NaN,23.29,899,312,23312,0.60,3.47,-31.8,2019-05-16
13103,2019-05-16 10:24:02,fc:c2:3d:00:00:01:10:8e,58,-47,3.35,26.75,NaN,24.46,899,15,658,0.60,3.47,-30.7,2019-05-16
13104,2019-05-16 10:24:21,fc:c2:3d:00:00:01:33:2a,60,-67,3.38,26.50,NaN,23.32,899,315,23312,0.60,3.47,-31.9,2019-05-16
13105,2019-05-16 10:25:22,fc:c2:3d:00:00:01:33:2a,64,-71,3.38,26.50,NaN,23.33,899,311,23312,0.60,3.48,-32.0,2019-05-16
13106,2019-05-16 10:26:23,fc:c2:3d:00:00:01:33:2a,69,-68,3.38,26.50,NaN,23.35,899,312,23312,0.60,3.48,-31.7,2019-05-16

In [130]:
#Printing the first element of 'new_date'
kaish = test['new_date'][0]
print(kaish)

2019-05-08 00:00:00

In [131]:
#Getting all the indexes where date is 2019-05-13 in 'date' variable
date = np.where(test.new_date == '2019-05-13 00:00:00')

In [132]:
date

(array([5865, 5866, 5867, ..., 7982, 7983, 7984]),)

In [133]:
#Converting 'date' to numpy array
date = np.array(date)

In [134]:
#Getting the first and last index for which date is 2019-05-13
date_max = date.max()
date_min = date.min()

In [135]:
#Now test will contain only datapoints for which date is 2019-05-13
test = test[date_min:(date_max + 1)]

In [136]:
#Check the start and Stop index
test.index

RangeIndex(start=5865, stop=7985, step=1)

In [138]:
#test

In [139]:
#Convert Wrong Values(Outliers) to NaN

nodes = test['nodeAddress'].unique()
def temp3(df):
    for n in nodes:
        for i in range(5865 , 7985):
            val0 = float(df.loc[i,'temperature3'])
            if (val0 > 100 or val0 < -1):
                df.loc[i,'temperature3'] = 'NaN'

temp3(test)

In [ ]:
#Get indexes where temp3 is NaN
np.where(test.temperature3 == 'NaN')

In [141]:
test.head()

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,new_date
5865,2019-05-13 00:04:27,fc:c2:3d:00:00:00:89:e8,15386,-31,3.35,32.25,NaN,26.22,897,0,27918,0.6,3.45,-31.0,2019-05-13
5866,2019-05-13 00:09:28,fc:c2:3d:00:00:00:89:e8,15400,-90,3.27,32.12,NaN,25.92,896,0,17625,0.6,3.28,-30.8,2019-05-13
5867,2019-05-13 00:14:29,fc:c2:3d:00:00:00:89:e8,15415,-96,3.27,32.12,NaN,25.88,896,0,17625,0.6,3.27,-30.9,2019-05-13
5868,2019-05-13 00:19:30,fc:c2:3d:00:00:00:89:e8,15431,-96,3.25,32.12,NaN,25.85,896,0,17625,0.6,3.26,-31.0,2019-05-13
5869,2019-05-13 00:24:31,fc:c2:3d:00:00:00:89:e8,15446,-32,3.25,32.12,NaN,25.82,896,0,17625,0.6,3.26,-30.7,2019-05-13

In [142]:
#Grouping the test dataset by 'nodeAddress'
test.groupby('nodeAddress').count()

,timeStamp,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,new_date
nodeAddress,,,,,,,,,,,,,,
fc:c2:3d:00:00:00:89:e8,275,275,275,275,275,0,275,275,275,275,275,275,275,275
fc:c2:3d:00:00:01:10:8e,932,932,932,932,932,0,932,932,932,932,932,932,932,932
fc:c2:3d:00:00:01:2f:2d,130,130,130,130,130,0,130,130,130,130,130,130,130,130
fc:c2:3d:00:00:01:33:2a,783,783,783,783,783,0,783,783,783,783,783,783,783,783

In [144]:
#Creating a new dataframe which contains 'timeStamp' when NaN(Outlier) occurs 

diagnostic_df = pd.DataFrame(columns=['temp3_89:e8' , 'temp3_10:8e' , 'temp3_2f:2d' , 'temp3_33:2a'] )

In [145]:
diagnostic_df

Empty DataFrame
Columns: [temp3_89:e8, temp3_10:8e, temp3_2f:2d, temp3_33:2a]
Index: []

In [146]:
test.head()

,timeStamp,nodeAddress,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,new_date
5865,2019-05-13 00:04:27,fc:c2:3d:00:00:00:89:e8,15386,-31,3.35,32.25,NaN,26.22,897,0,27918,0.6,3.45,-31.0,2019-05-13
5866,2019-05-13 00:09:28,fc:c2:3d:00:00:00:89:e8,15400,-90,3.27,32.12,NaN,25.92,896,0,17625,0.6,3.28,-30.8,2019-05-13
5867,2019-05-13 00:14:29,fc:c2:3d:00:00:00:89:e8,15415,-96,3.27,32.12,NaN,25.88,896,0,17625,0.6,3.27,-30.9,2019-05-13
5868,2019-05-13 00:19:30,fc:c2:3d:00:00:00:89:e8,15431,-96,3.25,32.12,NaN,25.85,896,0,17625,0.6,3.26,-31.0,2019-05-13
5869,2019-05-13 00:24:31,fc:c2:3d:00:00:00:89:e8,15446,-32,3.25,32.12,NaN,25.82,896,0,17625,0.6,3.26,-30.7,2019-05-13

In [147]:
#Getting values of 'timestamp' in diagnostic_df when NaN occurs for each node

for i in range(5865 , 7985):
    if(test.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:00:89:e8'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i ,'temp3_89:e8'] = time
        
for i in range( 5865 , 7985):
    if(test.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:01:10:8e'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i , 'temp3_10:8e'] = time
            
for i in range(5865 , 7985):
    if(test.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:01:2f:2d'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i , 'temp3_2f:2d'] = df.loc[i,'timeStamp' ]
            
for i in range( 5865 , 7985):
    if(test.loc[i, 'nodeAddress'] == 'fc:c2:3d:00:00:01:33:2a'):
        val0 = float(df.loc[i,'temperature3'])
        time = df.loc[i,'timeStamp' ]
        if(val0 > 50 or val0 < 0):
            diagnostic_df.loc[i , 'temp3_33:2a'] = time

In [148]:
#Following line will print whole diagnostic_df
print(diagnostic_df.to_string())

              temp3_89:e8          temp3_10:8e          temp3_2f:2d          temp3_33:2a
6244  2019-05-13 11:23:44                  NaN                  NaN                  NaN
6256  2019-05-13 11:28:45                  NaN                  NaN                  NaN
6267  2019-05-13 11:33:45                  NaN                  NaN                  NaN
6368  2019-05-13 12:18:59                  NaN                  NaN                  NaN
6291                  NaN  2019-05-13 11:44:21                  NaN                  NaN
6375                  NaN  2019-05-13 12:22:04                  NaN                  NaN
6380                  NaN  2019-05-13 12:24:07                  NaN                  NaN
6382                  NaN  2019-05-13 12:25:07                  NaN                  NaN
6387                  NaN  2019-05-13 12:27:10                  NaN                  NaN
6389                  NaN  2019-05-13 12:28:10                  NaN                  NaN
6392                  NaN  2019-05-13 12:29:12                  NaN                  NaN
6394                  NaN  2019-05-13 12:30:13                  NaN                  NaN
6397                  NaN  2019-05-13 12:31:13                  NaN                  NaN
6401                  NaN  2019-05-13 12:33:16                  NaN                  NaN
6404                  NaN  2019-05-13 12:34:16                  NaN                  NaN
6406                  NaN  2019-05-13 12:35:19                  NaN                  NaN
6408                  NaN  2019-05-13 12:36:23                  NaN                  NaN
6410                  NaN  2019-05-13 12:37:23                  NaN                  NaN
6412                  NaN  2019-05-13 12:38:24                  NaN                  NaN
6415                  NaN  2019-05-13 12:39:26                  NaN                  NaN
6418                  NaN  2019-05-13 12:40:27                  NaN                  NaN
6420                  NaN  2019-05-13 12:41:27                  NaN                  NaN
6422                  NaN  2019-05-13 12:42:29                  NaN                  NaN
6424                  NaN  2019-05-13 12:43:30                  NaN                  NaN
6427                  NaN  2019-05-13 12:44:30                  NaN                  NaN
6430                  NaN  2019-05-13 12:45:32                  NaN                  NaN
6432                  NaN  2019-05-13 12:46:33                  NaN                  NaN
6434                  NaN  2019-05-13 12:47:33                  NaN                  NaN
6436                  NaN  2019-05-13 12:48:34                  NaN                  NaN
6439                  NaN  2019-05-13 12:49:36                  NaN                  NaN
6442                  NaN  2019-05-13 12:50:37                  NaN                  NaN
6444                  NaN  2019-05-13 12:51:37                  NaN                  NaN
6446                  NaN  2019-05-13 12:52:39                  NaN                  NaN
6448                  NaN  2019-05-13 12:53:40                  NaN                  NaN
6451                  NaN  2019-05-13 12:54:40                  NaN                  NaN
6453                  NaN  2019-05-13 12:55:42                  NaN                  NaN
6455                  NaN  2019-05-13 12:56:43                  NaN                  NaN
6457                  NaN  2019-05-13 12:57:44                  NaN                  NaN
6459                  NaN  2019-05-13 12:58:44                  NaN                  NaN
6500                  NaN  2019-05-13 13:17:04                  NaN                  NaN
6504                  NaN  2019-05-13 13:19:05                  NaN                  NaN
6507                  NaN  2019-05-13 13:20:07                  NaN                  NaN
6510                  NaN  2019-05-13 13:21:07                  NaN                  NaN
6512                  NaN  2019-05-13 13:22:08                  NaN                  NaN
6514                  NaN  2019-05-13 13:23:10                  NaN                  NaN
6516                  NaN  2019-05-13 13:24:11                  NaN                  NaN
6519                  NaN  2019-05-13 13:25:11                  NaN                  NaN
6522                  NaN  2019-05-13 13:26:13                  NaN                  NaN
6524                  NaN  2019-05-13 13:27:14                  NaN                  NaN
6531                  NaN  2019-05-13 13:30:17                  NaN                  NaN
6536                  NaN  2019-05-13 13:32:18                  NaN                  NaN
6538                  NaN  2019-05-13 13:33:20                  NaN                  NaN
6541                  NaN  2019-05-13 13:34:21                  NaN                  NaN
6543                  NaN  2019-05-13 13:35:21                  NaN                  NaN
6546                  NaN  2019-05-13 13:36:23                  NaN                  NaN
6548                  NaN  2019-05-13 13:37:24                  NaN                  NaN
6550                  NaN  2019-05-13 13:38:24                  NaN                  NaN
6553                  NaN  2019-05-13 13:39:25                  NaN                  NaN
6555                  NaN  2019-05-13 13:40:27                  NaN                  NaN
6558                  NaN  2019-05-13 13:41:28                  NaN                  NaN
6560                  NaN  2019-05-13 13:42:28                  NaN                  NaN
6562                  NaN  2019-05-13 13:43:30                  NaN                  NaN
6564                  NaN  2019-05-13 13:44:31                  NaN                  NaN
6566                  NaN  2019-05-13 13:45:31                  NaN                  NaN
6569                  NaN  2019-05-13 13:46:33                  NaN                  NaN
6571                  NaN  2019-05-13 13:47:34                  NaN                  NaN
6573                  NaN  2019-05-13 13:48:34                  NaN                  NaN
6576                  NaN  2019-05-13 13:49:35                  NaN                  NaN
6578                  NaN  2019-05-13 13:50:37                  NaN                  NaN
6581                  NaN  2019-05-13 13:51:38                  NaN                  NaN
6583                  NaN  2019-05-13 13:52:38                  NaN                  NaN
6585                  NaN  2019-05-13 13:53:40                  NaN                  NaN
6588                  NaN  2019-05-13 13:54:41                  NaN                  NaN
6590                  NaN  2019-05-13 13:55:41                  NaN                  NaN
6593                  NaN  2019-05-13 13:56:45                  NaN                  NaN
6595                  NaN  2019-05-13 13:57:47                  NaN                  NaN
6597                  NaN  2019-05-13 13:58:48                  NaN                  NaN
6600                  NaN  2019-05-13 13:59:48                  NaN                  NaN
6603                  NaN  2019-05-13 14:00:50                  NaN                  NaN
6605                  NaN  2019-05-13 14:01:51                  NaN                  NaN
6607                  NaN  2019-05-13 14:02:51                  NaN                  NaN
6609                  NaN  2019-05-13 14:03:53                  NaN                  NaN
6612                  NaN  2019-05-13 14:04:54                  NaN                  NaN
6615                  NaN  2019-05-13 14:05:54                  NaN                  NaN
6617                  NaN  2019-05-13 14:06:55                  NaN                  NaN
6619                  NaN  2019-05-13 14:07:57                  NaN                  NaN
6621                  NaN  2019-05-13 14:08:58                  NaN                  NaN
6624                  NaN  2019-05-13 14:09:58                  NaN                  NaN
6626                  NaN  2019-05-13 14:11:00                  NaN                  NaN
6628                  NaN  2019-05-13 14:13:03                  NaN                  NaN
6630                  NaN  2019-05-13 14:14:05                  NaN                  NaN
6632                  NaN  2019-05-13 14:15:07                  NaN                  NaN
6634                  NaN  2019-05-13 14:16:08                  NaN                  NaN
6636                  NaN  2019-05-13 14:17:08                  NaN                  NaN
6638                  NaN  2019-05-13 14:18:10                  NaN                  NaN
6640                  NaN  2019-05-13 14:19:11                  NaN                  NaN
6643                  NaN  2019-05-13 14:20:11                  NaN                  NaN
6646                  NaN  2019-05-13 14:21:12                  NaN                  NaN
6648                  NaN  2019-05-13 14:22:14                  NaN                  NaN
6650                  NaN  2019-05-13 14:23:15                  NaN                  NaN
6652                  NaN  2019-05-13 14:24:15                  NaN                  NaN
6655                  NaN  2019-05-13 14:25:17                  NaN                  NaN
6658                  NaN  2019-05-13 14:26:18                  NaN                  NaN
6660                  NaN  2019-05-13 14:27:18                  NaN                  NaN
6662                  NaN  2019-05-13 14:28:20                  NaN                  NaN
6664                  NaN  2019-05-13 14:29:21                  NaN                  NaN
6667                  NaN  2019-05-13 14:30:21                  NaN                  NaN
6670                  NaN  2019-05-13 14:31:23                  NaN                  NaN
6672                  NaN  2019-05-13 14:32:24                  NaN                  NaN
6674                  NaN  2019-05-13 14:33:24                  NaN                  NaN
6676                  NaN  2019-05-13 14:34:25                  NaN                  NaN
6679                  NaN  2019-05-13 14:35:27                  NaN                  NaN
6682                  NaN  2019-05-13 14:36:28                  NaN                  NaN
6684                  NaN  2019-05-13 14:37:28                  NaN                  NaN
6686                  NaN  2019-05-13 14:38:30                  NaN                  NaN
6688                  NaN  2019-05-13 14:39:31                  NaN                  NaN
6281                  NaN                  NaN  2019-05-13 11:40:07                  NaN
6292                  NaN                  NaN  2019-05-13 11:45:09                  NaN
6417                  NaN                  NaN  2019-05-13 12:40:25                  NaN
6429                  NaN                  NaN  2019-05-13 12:45:30                  NaN
6602                  NaN                  NaN  2019-05-13 14:00:48                  NaN
6239                  NaN                  NaN                  NaN  2019-05-13 11:20:42
6241                  NaN                  NaN                  NaN  2019-05-13 11:21:43
6247                  NaN                  NaN                  NaN  2019-05-13 11:24:51
6250                  NaN                  NaN                  NaN  2019-05-13 11:25:52
6252                  NaN                  NaN                  NaN  2019-05-13 11:26:53
6254                  NaN                  NaN                  NaN  2019-05-13 11:27:54
6259                  NaN                  NaN                  NaN  2019-05-13 11:29:59
6261                  NaN                  NaN                  NaN  2019-05-13 11:30:59
6263                  NaN                  NaN                  NaN  2019-05-13 11:32:00
6265                  NaN                  NaN                  NaN  2019-05-13 11:33:01
6270                  NaN                  NaN                  NaN  2019-05-13 11:35:03
6273                  NaN                  NaN                  NaN  2019-05-13 11:36:07
6275                  NaN                  NaN                  NaN  2019-05-13 11:37:05
6277                  NaN                  NaN                  NaN  2019-05-13 11:38:06
6279                  NaN                  NaN                  NaN  2019-05-13 11:39:07
6282                  NaN                  NaN                  NaN  2019-05-13 11:40:09
6284                  NaN                  NaN                  NaN  2019-05-13 11:41:12
6286                  NaN                  NaN                  NaN  2019-05-13 11:42:13
6288                  NaN                  NaN                  NaN  2019-05-13 11:43:14
6473                  NaN                  NaN                  NaN  2019-05-13 13:05:40
6485                  NaN                  NaN                  NaN  2019-05-13 13:10:45
6497                  NaN                  NaN                  NaN  2019-05-13 13:15:50
6509                  NaN                  NaN                  NaN  2019-05-13 13:20:55
6521                  NaN                  NaN                  NaN  2019-05-13 13:25:59
6533                  NaN                  NaN                  NaN  2019-05-13 13:31:05
6545                  NaN                  NaN                  NaN  2019-05-13 13:36:09
6557                  NaN                  NaN                  NaN  2019-05-13 13:41:15
6568                  NaN                  NaN                  NaN  2019-05-13 13:46:23
6580                  NaN                  NaN                  NaN  2019-05-13 13:51:28
6592                  NaN                  NaN                  NaN  2019-05-13 13:56:33

In [149]:
#Compressing the Diagnostic_df to get better look

diagnostic_df = pd.concat([diagnostic_df[x].dropna().reset_index(drop=True) for x in diagnostic_df], axis=1)

In [150]:
#Again printing whole diagnostic_df
print(diagnostic_df.to_string())

             temp3_89:e8          temp3_10:8e          temp3_2f:2d          temp3_33:2a
0    2019-05-13 11:23:44  2019-05-13 11:44:21  2019-05-13 11:40:07  2019-05-13 11:20:42
1    2019-05-13 11:28:45  2019-05-13 12:22:04  2019-05-13 11:45:09  2019-05-13 11:21:43
2    2019-05-13 11:33:45  2019-05-13 12:24:07  2019-05-13 12:40:25  2019-05-13 11:24:51
3    2019-05-13 12:18:59  2019-05-13 12:25:07  2019-05-13 12:45:30  2019-05-13 11:25:52
4                    NaN  2019-05-13 12:27:10  2019-05-13 14:00:48  2019-05-13 11:26:53
5                    NaN  2019-05-13 12:28:10                  NaN  2019-05-13 11:27:54
6                    NaN  2019-05-13 12:29:12                  NaN  2019-05-13 11:29:59
7                    NaN  2019-05-13 12:30:13                  NaN  2019-05-13 11:30:59
8                    NaN  2019-05-13 12:31:13                  NaN  2019-05-13 11:32:00
9                    NaN  2019-05-13 12:33:16                  NaN  2019-05-13 11:33:01
10                   NaN  2019-05-13 12:34:16                  NaN  2019-05-13 11:35:03
11                   NaN  2019-05-13 12:35:19                  NaN  2019-05-13 11:36:07
12                   NaN  2019-05-13 12:36:23                  NaN  2019-05-13 11:37:05
13                   NaN  2019-05-13 12:37:23                  NaN  2019-05-13 11:38:06
14                   NaN  2019-05-13 12:38:24                  NaN  2019-05-13 11:39:07
15                   NaN  2019-05-13 12:39:26                  NaN  2019-05-13 11:40:09
16                   NaN  2019-05-13 12:40:27                  NaN  2019-05-13 11:41:12
17                   NaN  2019-05-13 12:41:27                  NaN  2019-05-13 11:42:13
18                   NaN  2019-05-13 12:42:29                  NaN  2019-05-13 11:43:14
19                   NaN  2019-05-13 12:43:30                  NaN  2019-05-13 13:05:40
20                   NaN  2019-05-13 12:44:30                  NaN  2019-05-13 13:10:45
21                   NaN  2019-05-13 12:45:32                  NaN  2019-05-13 13:15:50
22                   NaN  2019-05-13 12:46:33                  NaN  2019-05-13 13:20:55
23                   NaN  2019-05-13 12:47:33                  NaN  2019-05-13 13:25:59
24                   NaN  2019-05-13 12:48:34                  NaN  2019-05-13 13:31:05
25                   NaN  2019-05-13 12:49:36                  NaN  2019-05-13 13:36:09
26                   NaN  2019-05-13 12:50:37                  NaN  2019-05-13 13:41:15
27                   NaN  2019-05-13 12:51:37                  NaN  2019-05-13 13:46:23
28                   NaN  2019-05-13 12:52:39                  NaN  2019-05-13 13:51:28
29                   NaN  2019-05-13 12:53:40                  NaN  2019-05-13 13:56:33
30                   NaN  2019-05-13 12:54:40                  NaN                  NaN
31                   NaN  2019-05-13 12:55:42                  NaN                  NaN
32                   NaN  2019-05-13 12:56:43                  NaN                  NaN
33                   NaN  2019-05-13 12:57:44                  NaN                  NaN
34                   NaN  2019-05-13 12:58:44                  NaN                  NaN
35                   NaN  2019-05-13 13:17:04                  NaN                  NaN
36                   NaN  2019-05-13 13:19:05                  NaN                  NaN
37                   NaN  2019-05-13 13:20:07                  NaN                  NaN
38                   NaN  2019-05-13 13:21:07                  NaN                  NaN
39                   NaN  2019-05-13 13:22:08                  NaN                  NaN
40                   NaN  2019-05-13 13:23:10                  NaN                  NaN
41                   NaN  2019-05-13 13:24:11                  NaN                  NaN
42                   NaN  2019-05-13 13:25:11                  NaN                  NaN
43                   NaN  2019-05-13 13:26:13                  NaN                  NaN
44                   NaN  2019-05-13 13:27:14                  NaN                  NaN
45                   NaN  2019-05-13 13:30:17                  NaN                  NaN
46                   NaN  2019-05-13 13:32:18                  NaN                  NaN
47                   NaN  2019-05-13 13:33:20                  NaN                  NaN
48                   NaN  2019-05-13 13:34:21                  NaN                  NaN
49                   NaN  2019-05-13 13:35:21                  NaN                  NaN
50                   NaN  2019-05-13 13:36:23                  NaN                  NaN
51                   NaN  2019-05-13 13:37:24                  NaN                  NaN
52                   NaN  2019-05-13 13:38:24                  NaN                  NaN
53                   NaN  2019-05-13 13:39:25                  NaN                  NaN
54                   NaN  2019-05-13 13:40:27                  NaN                  NaN
55                   NaN  2019-05-13 13:41:28                  NaN                  NaN
56                   NaN  2019-05-13 13:42:28                  NaN                  NaN
57                   NaN  2019-05-13 13:43:30                  NaN                  NaN
58                   NaN  2019-05-13 13:44:31                  NaN                  NaN
59                   NaN  2019-05-13 13:45:31                  NaN                  NaN
60                   NaN  2019-05-13 13:46:33                  NaN                  NaN
61                   NaN  2019-05-13 13:47:34                  NaN                  NaN
62                   NaN  2019-05-13 13:48:34                  NaN                  NaN
63                   NaN  2019-05-13 13:49:35                  NaN                  NaN
64                   NaN  2019-05-13 13:50:37                  NaN                  NaN
65                   NaN  2019-05-13 13:51:38                  NaN                  NaN
66                   NaN  2019-05-13 13:52:38                  NaN                  NaN
67                   NaN  2019-05-13 13:53:40                  NaN                  NaN
68                   NaN  2019-05-13 13:54:41                  NaN                  NaN
69                   NaN  2019-05-13 13:55:41                  NaN                  NaN
70                   NaN  2019-05-13 13:56:45                  NaN                  NaN
71                   NaN  2019-05-13 13:57:47                  NaN                  NaN
72                   NaN  2019-05-13 13:58:48                  NaN                  NaN
73                   NaN  2019-05-13 13:59:48                  NaN                  NaN
74                   NaN  2019-05-13 14:00:50                  NaN                  NaN
75                   NaN  2019-05-13 14:01:51                  NaN                  NaN
76                   NaN  2019-05-13 14:02:51                  NaN                  NaN
77                   NaN  2019-05-13 14:03:53                  NaN                  NaN
78                   NaN  2019-05-13 14:04:54                  NaN                  NaN
79                   NaN  2019-05-13 14:05:54                  NaN                  NaN
80                   NaN  2019-05-13 14:06:55                  NaN                  NaN
81                   NaN  2019-05-13 14:07:57                  NaN                  NaN
82                   NaN  2019-05-13 14:08:58                  NaN                  NaN
83                   NaN  2019-05-13 14:09:58                  NaN                  NaN
84                   NaN  2019-05-13 14:11:00                  NaN                  NaN
85                   NaN  2019-05-13 14:13:03                  NaN                  NaN
86                   NaN  2019-05-13 14:14:05                  NaN                  NaN
87                   NaN  2019-05-13 14:15:07                  NaN                  NaN
88                   NaN  2019-05-13 14:16:08                  NaN                  NaN
89                   NaN  2019-05-13 14:17:08                  NaN                  NaN
90                   NaN  2019-05-13 14:18:10                  NaN                  NaN
91                   NaN  2019-05-13 14:19:11                  NaN                  NaN
92                   NaN  2019-05-13 14:20:11                  NaN                  NaN
93                   NaN  2019-05-13 14:21:12                  NaN                  NaN
94                   NaN  2019-05-13 14:22:14                  NaN                  NaN
95                   NaN  2019-05-13 14:23:15                  NaN                  NaN
96                   NaN  2019-05-13 14:24:15                  NaN                  NaN
97                   NaN  2019-05-13 14:25:17                  NaN                  NaN
98                   NaN  2019-05-13 14:26:18                  NaN                  NaN
99                   NaN  2019-05-13 14:27:18                  NaN                  NaN
100                  NaN  2019-05-13 14:28:20                  NaN                  NaN
101                  NaN  2019-05-13 14:29:21                  NaN                  NaN
102                  NaN  2019-05-13 14:30:21                  NaN                  NaN
103                  NaN  2019-05-13 14:31:23                  NaN                  NaN
104                  NaN  2019-05-13 14:32:24                  NaN                  NaN
105                  NaN  2019-05-13 14:33:24                  NaN                  NaN
106                  NaN  2019-05-13 14:34:25                  NaN                  NaN
107                  NaN  2019-05-13 14:35:27                  NaN                  NaN
108                  NaN  2019-05-13 14:36:28                  NaN                  NaN
109                  NaN  2019-05-13 14:37:28                  NaN                  NaN
110                  NaN  2019-05-13 14:38:30                  NaN                  NaN
111                  NaN  2019-05-13 14:39:31                  NaN                  NaN

In [151]:
#Describing 'diagnostic_df' into NaN_Data
NaN_Data = diagnostic_df.describe()
NaN_Data

,temp3_89:e8,temp3_10:8e,temp3_2f:2d,temp3_33:2a
count,4,112,5,30
unique,4,112,5,30
top,2019-05-13 11:23:44,2019-05-13 12:56:43,2019-05-13 12:45:30,2019-05-13 13:15:50
freq,1,1,1,1

In [152]:
NaN_Data_89e8 = NaN_Data['temp3_89:e8'][0] #Total NaN in node 89:e8
NaN_Data_108e = NaN_Data['temp3_10:8e'][0] #Total NaN in node 10:8e
NaN_Data_2f2d = NaN_Data['temp3_2f:2d'][0] #Total NaN in node 2f:2d
NaN_Data_332a = NaN_Data['temp3_33:2a'][0] #Total NaN in node 33:2a

In [153]:
# Grouping original dataset (test) into 'groupby' to get total datapoints in each node
groupby = test.groupby('nodeAddress').count()
groupby

,timeStamp,packteID,nodeRSSI,nodeVolt,temperature1,temperature2,temperature3,pressure,luminosity,rainfall,solarPanelVolt,solarPanelBattVolt,solarPanelCurr,new_date
nodeAddress,,,,,,,,,,,,,,
fc:c2:3d:00:00:00:89:e8,275,275,275,275,275,0,275,275,275,275,275,275,275,275
fc:c2:3d:00:00:01:10:8e,932,932,932,932,932,0,932,932,932,932,932,932,932,932
fc:c2:3d:00:00:01:2f:2d,130,130,130,130,130,0,130,130,130,130,130,130,130,130
fc:c2:3d:00:00:01:33:2a,783,783,783,783,783,0,783,783,783,783,783,783,783,783

In [154]:
#For all dataset
total_data_89e8 = groupby.loc['fc:c2:3d:00:00:00:89:e8' , 'temperature3'] #Total Datapoints in node 89:e8  
total_data_108e = groupby.loc['fc:c2:3d:00:00:01:10:8e' , 'temperature3'] #Total Datapoints in node 10:8e
total_data_2f2d = groupby.loc['fc:c2:3d:00:00:01:2f:2d' , 'temperature3'] #Total Datapoints in node 2f:2d
total_data_332a = groupby.loc['fc:c2:3d:00:00:01:33:2a' , 'temperature3'] #Total Datapoints in node 33:2a

In [155]:
# Calculating error %age for each node 
err_89e8 = (NaN_Data_89e8 / total_data_89e8)*100
err_108e = (NaN_Data_108e / total_data_108e)*100
err_2f2d = (NaN_Data_2f2d / total_data_2f2d)*100
err_332a = (NaN_Data_332a / total_data_332a)*100

In [156]:
print("For Whole Data Set on date 2019-05-13")
print('Error in 89e8' , err_89e8)
print('Error in 108e' , err_108e)
print('Error in 2f2d' , err_2f2d)
print('Error in 332a' , err_332a)

For Whole Data Set
Error in 89e8 1.4545454545454546
Error in 108e 12.017167381974248
Error in 2f2d 3.8461538461538463
Error in 332a 3.8314176245210727

# Code below this is just for testing purpose

In [ ]:
nodes = data1['nodeAddress'].unique()
def Temperature3_clean(df):
    for n in nodes:
        k = 0
        for i in range(k , df.shape[0]-1):
          if(df.loc[i, 'nodeAddress'] == n):
            val0 = float(df.loc[i,'temperature3'])
            time0 = df.loc[i,'timeStamp' ]
            for j in range(i+1, df.shape[0]-1):
              if(df.loc[j, 'nodeAddress'] == n):
                val1 = float(df.loc[j , 'temperature3'])
                time1 = df.loc[j , 'timeStamp']
                timedelta = time1 - time0
                minutes = timedelta.total_seconds() / 60
                
                if (abs(val1 - val0) > 10 and minutes < 30.0):
                  df.loc[j,'temperature3'] = val0
                  k = j
                  break
                elif(abs(val1) > 100 and minutes > 30.0):
                  df.loc[j,'temperature3'] = 'NaN'
                  k = j
                  break
                else:
                  k = j
                  break

In [ ]:
# pip install tqdm
from tqdm import tqdm_notebook

# works on any iterable, including cursors. 
# for iterables with len(), no need to specify 'total'.
for rec in tqdm_notebook(items, 
                         total=total, 
                         desc="Processing records"):
    # any code processing the elements in the iterable
    len(rec.keys())

In [4]:
# Implementing Tqdm Process bar
'''kaish = range(1, 1001)

from tqdm import tqdm_notebook

for i in tqdm_notebook(kaish , desc = 'Processing records'):
    print(i)'''

"kaish = range(1, 1001)\n\nfrom tqdm import tqdm_notebook\n\nfor i in tqdm_notebook(kaish , desc = 'Processing records'):\n    print(i)"

In [20]:
for n in tqdm_notebook(nodes , desc = 'Processing records'):

4